<template>
  <q-table
    dense
    id="tableRef"
    v-model:pagination="pagination"
    :rows-per-page-options="[10, 20, 0]"
    ref="tableRef"
    :loading="loading"
    :rows="serverItems"
    :columns="headers"
    @request="loadItems"
    v-model:selected="selected"
    selection="single"
    row-key="id"
    :visible-columns="visibleColumns"
    @row-click="rowClicked"
    no-data-label="No Gnomad v3.1.2 missense data available for this uniprot ID."
  >
    <template #body-selection></template>
    <!-- <template #top-row="props">
      <q-tr class="bg-blue-1">
        <q-td class="text-bold">
          {{ props.cols }}
        </q-td>
        <q-td />
        <q-td class="text-center">
          hi
        </q-td>
      </q-tr>
    </template> -->
  <!-- @click:row="rowClicked" -->
    <template #loading>
      <q-inner-loading
        showing
      />
    </template>
    <!-- <template #body-cell="body">
      <q-chip :color="getColour(body.row.ddg)">
        {{ body }}
      </q-chip>
    </template> -->
    <template #body-cell-ddg="props">
      <q-td :props="props">
        <!-- <q-badge dense :style="{ background: colourMap[5 + Math.round(props.row.ddg * 5)] }" text-color="black"> -->
        <q-badge v-if="props.row.ddg" dense :style="{ background: utilsStore.colourMap.ddg[Math.floor(utilsStore.scaleRange(props.row.ddg, Math.min(...utilsStore.calibratedEnds.ddg), Math.max(...utilsStore.calibratedEnds.ddg), 1, 11))] }" text-color="black">
          {{ props.row.ddg }}
        </q-badge>
      </q-td>
    </template>
    <template #body-cell-delta_score="props">
      <q-td :props="props">
        <!-- <q-badge dense :style="{ background: colourMap[5 + Math.round(props.row.ddg * 5)] }" text-color="black"> -->
        <q-badge v-if="props.row.delta_score" dense :style="{ background: utilsStore.colourMap.delta_score[Math.floor(utilsStore.scaleRange(props.row.delta_score, Math.min(...utilsStore.calibratedEnds.delta_score), Math.max(...utilsStore.calibratedEnds.delta_score), 1, 11))] }" text-color="black">
          {{ props.row.delta_score }}
        </q-badge>
      </q-td>
    </template>
    <template #body-cell-score="props">
      <q-td :props="props">
        <!-- <q-badge dense :style="{ background: colourMap[5 + Math.round(props.row.ddg * 5)] }" text-color="black"> -->
        <q-badge v-if="props.row.score" dense :style="{ background: utilsStore.colourMap.score[Math.floor(utilsStore.scaleRange(props.row.score, Math.min(...utilsStore.calibratedEnds.score), Math.max(...utilsStore.calibratedEnds.score), 1, 11))] }" text-color="black">
          {{ props.row.score }}
        </q-badge>
      </q-td>
    </template>
    <q-linear-progress
        class="absolute-bottom"
        color="yellow-5"
        track-color="yellow-3"
        size="xs"
        :indeterminate="selectedLoading"
        />
    <template #top>
    </template>
  </q-table>
  <!-- <q-card>
    <pre>{{ selected }}</pre>
  </q-card> -->
</template>

<script setup>
  import VariantDataService from "../../services/VariantDataService";
  import { watch, ref, unref, onMounted } from "vue";
  // import { state } from "pages/ProteinDisplayStore.js";
  import { useUtilsStore } from "stores/utils.js";
  import { useProteinStore } from "stores/protein.js";

  const utilsStore = useUtilsStore();
  const proteinStore = useProteinStore();

  // const emit = defineEmits(["selectedRow"]);

  const props = defineProps({
    select: {
      type: String,
      required: true
    }
  });

  function clone(original) {
    return JSON.parse(JSON.stringify(original));
  }

  const uniprotID = proteinStore.uniprotID;
  const select = props.select;
  const selectedLoading = ref(false);

  watch(() => proteinStore.activeMutation, highlightRow);

  async function highlightRow(newMutation, oldMutation) {
    selectedLoading.value = true;

    console.log(oldMutation);
    console.log(newMutation);
    // console.log(newMutation.value.aa_ref);
    console.log(newMutation.aa_pos);
    console.log(newMutation.aa_ref);
    console.log(newMutation.aa_alt);

    // console.log(pageValue.value);
    // console.log(itemsPerPage.value);
    // console.log(sortByValue.value);
    // var pv = pageValue.value;
    // var pv = itemsPerPage.value;
    // var pv = sortByValue.value;

    // [pageValue, itemsPerPage, sortByValue].map(object => {
    //   return object.value;
    // })

    // options = map({
    //   pageValue.value,
    //   pageValue.value
    // }

    // serverItems.value.find()

    // const response = await VariantDataService.retrieveProteinMutation(uniprotID, select, newMutation.aa_pos, newMutation.aa_alt);


    console.log(selected);
    console.log(serverItems);


    console.log(serverItems.value.filter((v) => {
      if (
          v.aa_pos == newMutation.aa_pos && 
          v.aa_alt == newMutation.aa_alt
        ) {
          return true;
        }
    })[0])

    if (selected.value.length) {
      selected.value = [];
    }
    selected.value.push(serverItems.value.filter((v) => {
      if (
          v.aa_pos == newMutation.aa_pos && 
          v.aa_alt == newMutation.aa_alt
        ) {
          return true;
        }
    })[0])
    // if (response.data.length) {
    //   selected.value.push(response.data[0]);
    // }

    if (selected.value[0] == undefined) {
      selected.value[0] = {};
      Object.keys(serverItems.value[0]).forEach((k, i) => {
        selected.value[0][k] = null
      })
    }

    console.log(selected.value);

    // if (! selected.value.length) {
    //   selectedLoading.value = false;
    //   return;
    // }

    selected.value.map((x, i) => x.id = `selectedRow${i}`);
    console.log(selected.value);

    // const currentServerItems = clone(serverItems.value);

    // if (currentServerItems.length > pagination.value.rowsPerPage) {
    //   currentServerItems.splice(0, 1)
    // };
    // serverItems.value.splice(0, serverItems.value.length, ...insertSelected(currentServerItems));
    console.log(serverItems.value);

    serverItems.value = [ ...selected.value, ...serverItems.value.slice(1) ];
    console.log(serverItems.value);

    // loadItems({
    //   page: pageValue.value, 
    //   itemsPerPage: itemsPerPage.value, 
    //   sortBy: sortByValue.value
    // });

    // if (selected.value.length) {
    //   selected.value = [];
    // }
    // selected.value.push(row.item.columns);

    selectedLoading.value = false;
  }

  const pagination = ref({
    // sortBy: "ddg",
    // descending: false,
    page: 1,
    rowsPerPage: 10,
    rowsNumber: 0
  })

  // const itemsPerPage = ref(10);
  const search = ref("");
  const serverItems = ref([]);
  const loading = ref(true);
  const tableRef = ref();

  onMounted(() => {
    // Fires @request
    tableRef.value.requestServerInteraction();
    // await (async function() {return "hello"})();
    // (async function() {return "hello"})().then();
  })

  // const totalItems = ref(0);
  // const pageValue = ref(1);
  // const sortByValue = ref([]);
  // const loaded = await loadingComplete();
  // const loaded = await 
  // let loaded = await (async function() {return "hello"});
  // let loaded = await async();

  // async function loadingComplete() {
  //   console.log("complete!");
  //   return true;
  // }

  function insertSelected(array) {
    console.log(array);
    console.log(selected);
    console.log(selected.value.length);
    // array.splice(-1, 1);
    if (!selected.value.length || selected.value.length <= 0) {
      selected.value[0] = {};
      Object.keys(array[0])
        .forEach((k, i) => {
          selected.value[0][k] = null
      })
    };

    array.splice(0, 0, selected.value[0]);
    console.log(array);
    return array;
  }

  async function loadItems(props) {
    // const { filter, getCellValue, pagination } = props;

    loading.value = true;

    const { page, rowsPerPage, sortBy, descending } = props.pagination;

    var sortByValue = [{
      key: sortBy,
      order: descending ? "desc" : "asc"
    }]

    if (!sortBy) {
      sortByValue = "";
    }

    const response = await VariantDataService.retrieveProtein(uniprotID, select, page, rowsPerPage, sortByValue);

    console.log(response);

    if (response.data.items.length == 0 && page == 1) {
      serverItems.value = [];
      loading.value = false;
      return;
    }

    // Create ID for row-key
    response.data.items.map(x => {
      x.id = `${x.aa_pos}_${x.aa_alt}`;
    })

    response.data.items = insertSelected(response.data.items);

    console.log(response.data.items);

    serverItems.value.splice(0, serverItems.value.length, ...response.data.items);

    pagination.value.page = page;
    pagination.value.rowsPerPage = rowsPerPage;
    pagination.value.sortBy = sortBy;
    pagination.value.descending = descending;
    pagination.value.rowsNumber = response.data.total;

    loading.value = false;
  }

  const selected = ref([]);

  function rowClicked(event, row) {
    // console.log(pageValue, sortByValue);
    // if (selected.value.length) {
    //   selected.value = [];
    // }
    // selected.value.push(row.item.columns);
    // emit("selectedRow", selected.value[0]);
    // console.log(row.value);
    // emit("selectedRow", row);

    // activeMutation = {
    //   aa_ref: row.aa_ref,
    //   aa_pos: row.aa_pos,
    //   aa_alt: row.aa_alt
    // };

    console.log(event, row);

    console.log(proteinStore.activeMutation);

    proteinStore.setActiveMutation({
      aa_pos: Number(row.aa_pos),
      aa_alt: row.aa_alt
    })

    // proteinStore.activeMutation.aa_ref = row.aa_ref;
    // proteinStore.activeMutation.aa_pos = row.aa_pos;
    // proteinStore.activeMutation.aa_alt = row.aa_alt;

    console.log(proteinStore.activeMutation);
  }

  const headers = ref([
    {
      label: "ID",
      name: "id",
      // field: row => `${row.aa_pos}_${row.aa_alt}`,
      field: "id",
    },
    {
      label: "Chromosome",
      align: "end",
      sortable: true,
      name: "chr",
      field: "chr",
    },
    {
      label: "SNP Reference",
      align: "end",
      sortable: true,
      name: "ref",
      field: "ref",
    },
    {
      label: "SNP Position",
      align: "end",
      sortable: true,
      name: "pos",
      field: "pos",
    },
    {
      label: "SNP Alternative",
      align: "end",
      sortable: true,
      name: "alt",
      field: "alt",
    },
    {
      label: "Chain",
      align: "end",
      sortable: true,
      name: "chain",
      field: "chain",
    },
    {
      label: "AA Reference",
      align: "end",
      sortable: true,
      name: "aa_ref",
      field: "aa_ref",
    },
    {
      label: "AA Position",
      align: "end",
      sortable: true,
      name: "aa_pos",
      field: "aa_pos",
    },
    {
      label: "AA Alternative",
      align: "end",
      sortable: true,
      name: "aa_alt",
      field: "aa_alt",
    },
    {
      label: "ddG",
      align: "end",
      sortable: true,
      name: "ddg",
      field: "ddg",
    },
    {
      label: "delta_score",
      align: "end",
      sortable: true,
      name: "delta_score",
      field: "delta_score",
    },
    {
      label: "score",
      align: "end",
      sortable: true,
      name: "score",
      field: "score",
    },
    {
      label: "Allele Count",
      align: "end",
      sortable: true,
      name: "AC",
      field: "AC",
    },
    {
      label: "Allele Number",
      align: "end",
      sortable: true,
      name: "AN",
      field: "AN",
    },
    {
      label: "Allele Frequency",
      align: "end",
      sortable: true,
      name: "AF",
      field: "AF",
    },
    {
      label: "Number of Homozygotes",
      align: "end",
      sortable: true,
      name: "nhomalt",
      field: "nhomalt",
    },
    {
      label: "SIFT",
      align: "end",
      sortable: true,
      name: "SIFT",
      field: "SIFT",
    },
    {
      label: "PolyPhen",
      align: "end",
      sortable: true,
      name: "PolyPhen",
      field: "PolyPhen",
    }
  ]);

  const visibleColumns = ref(headers.value
    .filter(x => x.name != "id")
    .map(x => x.name)
  );
</script>

<!-- <style>
  #tableRef {
    max-width: 20%;
  }
</style> -->

<!-- <style lang="scss">
  @use '../styles/settings';

  .v-data-table__tbody > .v-data-table__tr:first-child > td {
    // background-color: settings.$card-background;
    background-color: #EEE;
    border-bottom: black solid 3px !important;
    box-shadow: 10px 10px;
  }
</style> -->

<style>
  #tableRef tr:first-child > td {
    background-color: #f9fad7;
    border-color: #cfd44e;
    border-top-style: dashed;
    border-bottom-style: dashed;
  }
</style>