<template>
  <div class="molStarContainer" @click="molStarClicked">
    <div class="molStarPhoto" :style="{ opacity: photoClickOpacity, zIndex: photoClickZ }"></div>
    <div class="molStarDiv" ref="molStarDivWt">
    </div>
    <q-inner-loading
      class="molStarLoading"
      :showing="loading"
    />
  </div>
  <!-- <canvas ref="molStarCanvas"></canvas> -->
</template>

<script setup>
  import VariantDataService from "../../services/VariantDataService";
  import { watch, ref, reactive, onMounted, onServerPrefetch } from "vue";
  import BasicWrapperWt from "./MolStarBasicWrapper";
  // import { state } from "pages/ProteinDisplayStore.js";
  import JSZip from "jszip";
  import { saveAs } from "file-saver";
  import { useProteinStore } from "stores/protein.js";

  const proteinStore = useProteinStore();

  var MolStarWt = new BasicWrapperWt;
  proteinStore.wtViewport = MolStarWt;

  // const props = defineProps({
  //   cameraLock: {
  //     type: Boolean,
  //     required: true
  //   }
  // });

  const props = defineProps(["photograph"]);
  const photoClickOpacity = ref(0);
  const photoClickZ = ref(0);

  watch(() => props.photograph, takePhoto);
  
  async function takePhoto() {
    const imageDataBase64 = await MolStarWt.takePicture(1000, 1000);
    console.log(imageDataBase64);

    // const now = new Date().toISOString().split("T")[0].replace(/-/g, "");
    // const now = new Date().toISOString().split("T")[0];
    const preNow = new Date().toISOString().replace(/-|:/g, "");
    const now = preNow.substring(0, preNow.indexOf(".")).replace("T", "-");

    var zip = new JSZip();
    zip.file(
      `${proteinStore.uniprotID}_${proteinStore.activeMutation.aa_pos}_${proteinStore.activeMutation.aa_alt}_${now}.png`,
      imageDataBase64.substring(imageDataBase64.indexOf(",") + 1),
      { base64: true }
    );

    photoClickZ.value = 999;
    photoClickOpacity.value = 1;
    setTimeout(() => {
      photoClickOpacity.value = 0;
      photoClickZ.value = 0;
    }, 250);

    zip.generateAsync({ type: "blob" })
      .then(function(content) {
          saveAs(content, `${proteinStore.uniprotID}_${now}.zip`);
      });
  }

  // var subscribed = null;
  // watch(() => props.cameraLock, (newValue) => {
  //   console.log(newValue);
  //   if (newValue) {
  //     console.log(subscribed);
  //     subscribed = MolStarWt.subscribeToUpdates();
  //     console.log(subscribed);
  //   } else {
  //     if (subscribed) {
  //       console.log(subscribed);
  //       MolStarWt.unsubscribeToUpdates();
  //       console.log(subscribed);
  //     }
  //   }
  // });

  // const emit = defineEmits({
  //   cameraState: ({ cameraState, cameraLock }) => {
  //     if (cameraLock) {
  //       return true
  //     } else {
  //       console.warn('Invalid submit event payload!')
  //       return false
  //     }
  //   }
  // });

  // const emit = defineEmits(["cameraState"]);

  // function emitCameraState(event) {
  //   console.log(MolStarWt.plugin.canvas3d.camera.state);
  //   // console.log(MolStarWt.captureCameraState());
  //   // emit("cameraState", { cameraState: MolStarWt.captureCameraState(), MolStarWtObj: MolStarWt });
  //   emit("cameraState", { cameraState: {}, MolStarWtObj: MolStarWt });
  // };

  const uniprotID = proteinStore.uniprotID;

  watch(() => proteinStore.activeMutation, highlightLoci);

  function highlightLoci(newMutation, oldMutation) {
    // loading.value = true;

    console.log(newMutation);
    console.log(MolStarWt);

    MolStarWt.interactivity.highlightOn(newMutation.aa_pos);

    // loading.value = false;
  }

  async function molStarClicked(event) {
    console.log("clicked!");
    console.log(MolStarWt);

    // const aa_pos = MolStarWt.getProteinPosition();
    // console.log(aa_pos);
    // emit("selectedLoci", event);
  }

  const molStarDivWt = ref(null);
  const loading = ref(true);

  // const wildtypePdbPath = ref("../resources/AF-A0N4Z3-F1-model_v1.pdb");
  // const wildtypePdbName = ref("AF-A0N4Z3-F1-model_v1.pdb");

  const dataPDB = ref("");

  const wildtypePdbName = ref(`AF-${uniprotID}-F1-model_v1.pdb`);

  const response = await VariantDataService.loadFile(wildtypePdbName.value);

  dataPDB.value = response.data;

  // import { Canvas3D, Canvas3DContext } from 'molstar/lib/mol-canvas3d/canvas3d';
  // const molStarCanvas = ref(null);
  onMounted(async () => {
    // const canvas3d = Canvas3D.create(Canvas3DContext.fromCanvas(molStarCanvas.value));
    // canvas3d.animate();

    await MolStarWt.init(molStarDivWt.value);

    await MolStarWt.load(molStarDivWt.value, { input: dataPDB.value, format: "pdb", assemblyId: "wtAssembly" });
    MolStarWt.interactivity.highlightOn(1);

    loading.value = false;
  })
</script>

<style>
  .molStarContainer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .molStarDiv {
    position: relative;
    /* width: 600px;
    height: 600px; */
    width: 100%;
    /* height: 100%; */
    height: 265px;
    border: 1px solid #ccc;
  }

  /* #molStarLoading {
    position: relative;
    width: 100%;
    height: 100%;
  } */

  .molStarContainer {
    position: relative;
  }

  .molStarLoading {
    position: absolute;
    /* background-color: rgba(255, 255, 255, 0.3); */
    top:0;
    left:0;
    width:100%;
    height:100%;
  }

  .molStarPhoto {
    background: white;
    position: absolute;
    top: 1px;
    left: 1px;
    height: calc(100% - 1px);
    width: calc(100% - 1px);
    /* opacity: 0; */
    transition: opacity .15s cubic-bezier(.07,.95,0,1);
  }
</style>