<template>
  <div class="molStarContainer" @click="molStarClicked">
    <div class="molStarBlockMouse" :style="{ zIndex: molStarBlockMouseZ }"></div>
    <div class="molStarDiv" ref="molStarDivMut">
    </div>
    <q-inner-loading
      class="molStarLoading"
      :showing="loading"
      >
      <q-carousel
        class="full-width transparent"
        v-model="loadingCarousel"
        animated
        transition-next="jump-right"
        navigation
        padding
        >
        <template #navigation-icon="{ name }">
          <q-icon v-if="loadingCarouselOrder.indexOf(name) >= loadingCarouselOrder.indexOf(loadingCarousel)" name="radio_button_unchecked" size="sm" color="grey" class="q-px-sm"/>
          <q-icon v-else name="done" size="sm" color="green" class="q-px-sm"/>
        </template>
        <q-carousel-slide name="one" class="column no-wrap flex-center">
          <q-spinner
            color="primary"
            size="3em"
          />
          <div class="q-mt-md text-subtitle2 text-center">
            Substituting amino acid...
          </div>
        </q-carousel-slide>
        <q-carousel-slide name="two" class="column no-wrap flex-center">
          <q-spinner
            color="primary"
            size="3em"
          />
          <div class="q-mt-md text-subtitle2 text-center">
          Loading in mutated protein...
          </div>
        </q-carousel-slide>
      </q-carousel>
    </q-inner-loading>
    <q-inner-loading
      class="molStarLoading"
      :showing="waitingForMut"
      >
      <img
        class="stab-logo"
        alt="Stability Sort logo"
        src="/logo.svg"
        style="width: 100px; height: 100px"
        >
        <p class="text-subtitle2 text-center q-px-xl q-pt-md">Please select a mutation from the plot or table below.</p>
    </q-inner-loading>
  </div>
</template>

<script setup>
  import VariantDataService from "../../services/VariantDataService";
  import { watch, ref, reactive, onMounted, onServerPrefetch } from "vue";
  import BasicWrapperMut from "./MolStarBasicWrapper";
  // import axios from "axios";
  // import { state } from "pages/ProteinDisplayStore.js";
  import { useProteinStore } from "stores/protein.js";

  const proteinStore = useProteinStore();
  const loadingCarouselOrder = ref(["one", "two"]);
  const loadingCarousel = ref("one");

  var MolStarMut = new BasicWrapperMut;

  // const props = defineProps({
  //   // select: {
  //   //   type: String,
  //   //   required: true
  //   // }
  //   cameraState: {
  //     type: Object
  //   }
  // });

  const props = defineProps(["cameraLock"]);

    // const emit = defineEmits(["cameraState"]);

  const uniprotID = proteinStore.uniprotID;

  watch(() => proteinStore.activeMutation, highlightLoci);

  const molStarBlockMouseZ = ref(0);

  var subscription = null;
  watch(() => props.cameraLock, (newCameraLock) => {
    console.log(newCameraLock);
    // MolStarMut.restoreCameraState(newCameraLock);

    if (newCameraLock) {
      subscription = MolStarMut.subscribeToPluginUpdates(proteinStore.wtViewport.plugin);
      molStarBlockMouseZ.value = 999;
    } else {
      MolStarMut.unsubscribeFromPluginUpdates(subscription);
      molStarBlockMouseZ.value = 0;
    }
    // console.log(proteinStore.wtViewport.plugin);
  });

  // const wildtypeSequence = await VariantDataService.getWtSequence(uniprotID); // get sequence from aa_ref and aa_pos

  async function highlightLoci(newMutation, oldMutation) {
    waitingForMut.value = false;
    loading.value = true;
    loadingCarousel.value = "one";

    console.log(newMutation);
    console.log(MolStarMut);

    // const indexOfMutation = activeMutation.aa_pos - 1

    // const mutatedSequence = wildtypeSequence.substring(0, indexOfMutation) + activeMutation.aa_alt + wildtypeSequence.substring(indexOfMutation + 1);
    // console.log(mutatedSequence);

    // const mutatedPDBFileName = await VariantDataService.makeMutatedPDB(uniprotID, newMutation.aa_pos, newMutation.aa_alt);
    // console.log(mutatedPDBFileName);
    // console.log(mutatedPDBFileName.data);

    // const response = await VariantDataService.loadFile(mutatedPDBFileName.data);

    const response = await VariantDataService.makeMutatedPDB(uniprotID, newMutation.aa_pos, newMutation.aa_alt);

    dataPDBMut.value = response.data;
    loadingCarousel.value = "two";

    console.log("loading in:");
    console.log(dataPDBMut.value);

    console.log(molStarDivMut.value);
    console.log(MolStarMut);

    await MolStarMut.load(molStarDivMut.value, { input: dataPDBMut.value, format: "pdb", assemblyId: "mutAssembly" });
    console.log("loaded!");
    MolStarMut.interactivity.highlightOn(newMutation.aa_pos);

    loading.value = false;
  }

  function molStarClicked(event) {
    console.log("clicked!");
    console.log(MolStarMut);

    // const aa_pos = MolStarMut.getProteinPosition();
    // console.log(aa_pos);

    // emit("selectedLoci", event);
  }

  const molStarDivMut = ref(null);
  const loading = ref(false);
  const waitingForMut = ref(true);
  const dataPDBMut = ref("");

  onMounted(async () => {
    MolStarMut.init(molStarDivMut.value);
    // MolStarMut.setBackground(0xffffff);
    waitingForMut.value = true;
  })
</script>

<style>
  .molStarContainer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .molStarDiv {
    position: relative;
    /* width: 600px;
    height: 600px; */
    width: 100%;
    /* height: 100%; */
    height: 265px;
    border: 1px solid #ccc;
  }

  /* #molStarLoading {
    position: relative;
    width: 100%;
    height: 100%;
  } */

  .molStarContainer {
    position: relative;
  }

  .molStarLoading {
    position: absolute;
    /* background-color: rgba(255, 255, 255, 0.3); */
    top:0;
    left:0;
    width:100%;
    height:100%;
  }

  .molStarBlockMouse {
    position: absolute;
    top: 1px;
    left: 1px;
    height: calc(100% - 1px);
    width: calc(100% - 1px);
    cursor: not-allowed;
  }
</style>