<template>
  <q-card class="sticky" style="overflow-x: scroll">
    <q-card-actions>
      <q-card-section>
        <h2 class="q-my-sm">{{ proteinGeneName }}</h2>
      </q-card-section>

      <q-card-section class="q-pa-none" style="width:100%">
        <q-markup-table dense flat bordered>
          <tbody>
            <tr>
              <td class="text-left text-weight-bold">Uniprot ID</td>
              <td class="text-right">
                <a target="_blank" :href="`https://www.uniprot.org/uniprotkb/${uniprotID}`">{{ uniprotID }}</a>
              </td>
            </tr>
            <tr>
              <td class="text-left text-weight-bold">Canonical Transcript</td>
              <td class="text-right">
                <a target="_blank" :href="`https://www.ensembl.org/homo_sapiens/Transcript/Summary?t=${uniprotStats.data[0].enst}&db=core`">{{ uniprotStats.data[0].enst }}</a>
              </td>
            </tr>
            <tr>
              <td class="text-left text-weight-bold">AlphaMissense MPS
                <q-tooltip anchor="bottom left" self="center left">
                  Median Path Score
                </q-tooltip>
              </td>
              <td class="text-right">{{ uniprotStats.data[0].am_mps }}</td>
            </tr>
            <tr>
              <td class="text-left text-weight-bold">Gene CDS Length
                <q-tooltip anchor="bottom left" self="center left">
                  CoDing Sequence
                </q-tooltip>
              </td>
              <td class="text-right">{{ formatStat(uniprotStats.data[0].cds_len) }}
                <q-tooltip anchor="bottom right" self="center right">
                  {{ uniprotStats.data[0].cds_len }}
                </q-tooltip>
              </td>
            </tr>
            <tr>
              <td class="text-left text-weight-bold">PPIS
                <q-tooltip anchor="bottom left" self="center left">
                  Proportion of Potential Instabiliy Sites
                </q-tooltip>
              </td>
              <td class="text-right">{{ formatStat(uniprotStats.data[0].ppis) }}
                <q-tooltip anchor="bottom right" self="center right">
                  {{ uniprotStats.data[0].ppis }}
                </q-tooltip>
              </td>
            </tr>
            <tr>
              <td class="text-left text-weight-bold">LOEUF Rank
                <q-tooltip anchor="bottom left" self="center left">
                  Loss of function Observed / Expected Upper-bound Fraction (From Gnomad 2.1.1)
                </q-tooltip>
              </td>
              <td class="text-right">{{ formatStat(uniprotStats.data[0].g211_loeuf) }}
                <q-tooltip anchor="bottom right" self="center right">
                  {{ uniprotStats.data[0].g211_loeuf }}
                </q-tooltip>
              </td>
            </tr>
          </tbody>
        </q-markup-table>
      </q-card-section>

      <q-card-section class="q-pa-none q-pt-sm" style="width:100%">
        <q-markup-table dense flat bordered>
          <thead>
            <tr>
              <th class="text-left"></th>
              <th class="text-right">Expected SNVs
                <q-tooltip>
                  From Gnomad 2.1.1
                </q-tooltip>
              </th>
              <th class="text-right">Observed SNVs
                <q-tooltip>
                  From Gnomad 2.1.1
                </q-tooltip>
              </th>
              <!-- <th class="text-right">LOEUF
                <q-tooltip>
                    Loss of function Observed / Expected Upper-bound Fraction
                </q-tooltip>
              </th> -->
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-left">pLoF
                <q-tooltip anchor="bottom left" self="center left">
                  Predicted Loss of Function
                </q-tooltip>
              </td>
              <td class="text-right">{{ formatStat(uniprotStats.data[0].e_g211_LoF) }}
                <q-tooltip anchor="bottom right" self="center right">
                  {{ uniprotStats.data[0].e_g211_LoF }}
                </q-tooltip>
              </td>
              <td class="text-right">{{ uniprotStats.data[0].o_g211_LoF }}</td>
              <!-- <td class="text-right">{{ uniprotStats.data[0].g211_loeuf.toFixed(2) }}
                <q-tooltip anchor="bottom right" self="center right">
                  {{ uniprotStats.data[0].g211_loeuf }}
                </q-tooltip>
              </td> -->
            </tr>
            <tr>
              <td class="text-left">mDoF
                <q-tooltip anchor="bottom left" self="center left">
                  Missense Disruption of Function
                </q-tooltip>
              </td>
              <td class="text-right">{{ formatStat(uniprotStats.data[0].e_mDoF) }}
                <q-tooltip anchor="bottom right" self="center right">
                  {{ uniprotStats.data[0].e_mDoF }}
                </q-tooltip>
              </td>
              <td class="text-right">{{ uniprotStats.data[0].o_mDoF }}</td>
              <!-- <td class="text-right"></td> -->
            </tr>
            <tr>
              <td v-if="uniprotStats.data[0].enst != 'Data Unavailable'" colspan="4" class="text-left" style="font-size:7pt">Data from <a :href="`https://gnomad.broadinstitute.org/transcript/${uniprotStats.data[0].enst}?dataset=gnomad_r2_1`">Gnomad 2.1.1</a></td>
              <td v-else colspan="4" class="text-left" style="font-size:7pt">Data Unavailable</td>
            </tr>
          </tbody>
        </q-markup-table>
      </q-card-section>

      <q-card-section style="width:100%">
        <div style="height:100px;text-align:center" class="q-mb-sm column items-center justify-center">
          <!-- <img v-if="proteinStore.activeMutation.aa_alt != null" :src="`${aminoAcidCode[proteinStore.activeMutation.aa_alt].short}.svg`" :alt="`Chemical diagram of ${aminoAcidCode[proteinStore.activeMutation.aa_alt].long}`" style="height:100%"/>
          <div v-else> -->
          <div v-if="proteinStore.activeMutation.aa_alt != null" class="text-h4">
            {{ aminoAcidCode[proteinStore.activeMutation.aa_alt].short }}
          </div>
          <div v-else>
            Please select a mutation.
          </div>
        </div>
        <q-tab-panels v-model="panel" animated>
          <q-tab-panel v-for="locus in proteinLoci" :key="locus.pos" :name="String(locus.pos)" class="q-pa-none">
            <div class="column items-center">
              <!-- <img :src="`${aminoAcidCode[locus.ref].short}.svg`" :alt="`Chemical diagram of ${aminoAcidCode[locus.ref].long}`" style="height:100px"/> -->
              <div class="text-h4">
                {{ aminoAcidCode[locus.ref].short }}
              </div>
              <div class="row items-center q-pb-sm" style="width:100%">
                <q-separator class="col" style="height:3px"></q-separator>
                <div class="col-auto q-px-sm text-h6">
                  {{ locus.pos }}
                </div>
                <q-separator spaced class="col" style="height:3px"></q-separator>
              </div>
            </div>
          </q-tab-panel>
        </q-tab-panels>
      </q-card-section>

      <!-- <q-card-section rounded class="q-pa-sm q-mb-sm bg-grey-8 full-width" style="border-radius: 5px">
        <q-chip square>
          <q-avatar color="red">
            {{ proteinStore.activeMutation.aa_pos }}
          </q-avatar>
          {{ proteinStore.activeMutation.aa_ref }}
          <q-icon name="chevron_right"></q-icon>
          {{ proteinStore.activeMutation.aa_alt }}
        </q-chip>
      </q-card-section> -->

      <!-- <q-card-section>
        <q-skeleton animation="none" type="text" width="200px"></q-skeleton>
        <q-skeleton animation="none" type="text" width="180px"></q-skeleton>
        <q-skeleton animation="none" type="text" width="200px"></q-skeleton>
      </q-card-section> -->

      <q-space></q-space>

      <q-btn
        flat
        :icon="show ? 'expand_less' : 'expand_more'"
        @click="show = !show"
        label="Protein Description"
      ></q-btn>
    </q-card-actions>

    <q-slide-transition>
      <div v-show="show">
        <q-separator></q-separator>
        <q-card-section>
          <!-- <h5 class="q-mt-none q-mb-md">Protein Description</h5> -->
          <div class="text-subtitle3 q-mb-md">
            {{ proteinDescription }}
          </div>
          <div class="text-caption text-grey-7">Description sourced from <a :href="proteinDescriptionSource"> {{ proteinDescriptionSource }}</a>.</div>
        </q-card-section>
      </div>
    </q-slide-transition>
  </q-card>
</template>

<script setup>
  import VariantDataService from "../../services/VariantDataService";
  import { watch, ref, unref, onMounted } from "vue";
  // import { state } from "pages/ProteinDisplayStore.js";
  // import AppState from "pages/AppStore.js";
  import { useAppStore } from "stores/app.js";
  import { useProteinStore } from "stores/protein.js";

  const appStore = useAppStore();
  const proteinStore = useProteinStore();

  // const props = defineProps({
  //   uniprotID: {
  //     type: String,
  //     required: true
  //   }
  // })

  const uniprotID = proteinStore.uniprotID;

  const proteinDescription = ref("");
  const proteinDescriptionSource = ref("");
  const show = ref(false);
  const panel = ref("1");

  watch(() => proteinStore.activeMutation, changePanel);

  function changePanel(newMutation, oldMutation) {
    console.log(newMutation);
    // activeMutation.value = newMutation;
    panel.value = String(newMutation.aa_pos);
  }

  const aminoAcidCode = {
    "A": {short: "ALA", long: "Alanine"},
    "R": {short: "ARG", long: "Arginine"},
    "N": {short: "ASN", long: "Asparagine"},
    "D": {short: "ASP", long: "Aspartic Acid"},
    "C": {short: "CYS", long: "Cysteine"},
    "Q": {short: "GLN", long: "Glutamine"},
    "E": {short: "GLU", long: "Glutamic Acid"},
    "G": {short: "GLY", long: "Glycine"},
    "H": {short: "HIS", long: "Histidine"},
    "I": {short: "ILE", long: "Isoleucine"},
    "L": {short: "LEU", long: "Leucine"},
    "K": {short: "LYS", long: "Lysine"},
    "M": {short: "MET", long: "Methionine"},
    "F": {short: "PHE", long: "Phenylalanine"},
    "P": {short: "PRO", long: "Proline"},
    "S": {short: "SER", long: "Serine"},
    "T": {short: "THR", long: "Threonine"},
    "W": {short: "TRP", long: "Tryptophan"},
    "Y": {short: "TYR", long: "Tyrosine"},
    "V": {short: "VAL", long: "Valine"}
  }

  // const response = await VariantDataService.getByUniprot(uniprotID, "");
  // console.log(response);

  // const b = new Set();
  // const proteinRefs = response.data
  //   .map(x => ({pos: x.aa_pos, ref: x.aa_ref}))
  //   .filter(v => b.size != b.add(JSON.stringify(v)).size, b);

  // const proteinLoci = ref(proteinRefs);
  // console.log(proteinLoci.value);

  const proteinLoci = ref(null);
  const unwatch = watch(() => proteinStore.wildtypeSequence, fillProteinLoci);

  if (proteinStore.wildtypeSequence == null || proteinStore.wildtypeSequence == "") {
    console.log("pdo null!");
  } else {
    fillProteinLoci();
  }

  function formatStat(stat) {
    if (stat == "Data Unavailable") {
      return stat;
    }

    if (parseFloat(stat) == NaN) {
      return stat;
    } else {
      return parseFloat(stat).toFixed(2);
    }
  }

  function fillProteinLoci() {
    console.log("filling protein loci");

    proteinLoci.value = proteinStore.wildtypeSequence
      .split("")
      .map((x,i) => ({ pos: i + 1, ref: x }));
    // Only needs to run once
    unwatch();
  }

  const proteinGeneName = ref(null);
  const unwatchGeneName = watch(() => appStore.uniprotMap, updateGeneName);

  if (appStore.uniprotMap == null || appStore.uniprotMap.size === 0) {
    console.log("pdo gn null!");
  } else {
    updateGeneName();
  }

  function updateGeneName() {
    console.log("updating gene name");

    proteinGeneName.value = appStore.uniprotMap.get(uniprotID).join(", ");

    // Only needs to run once
    unwatchGeneName();
  }

  const uniprotStats = await VariantDataService.retrieveUniprotDescription(uniprotID);

  // proteinDescription.value = uniprotStats.data[0].desc;

  console.log(uniprotStats);

  Object.keys(uniprotStats.data[0]).forEach(
    (k, i) => uniprotStats.data[0][k] == null ? uniprotStats.data[0][k] = "Data Unavailable" : uniprotStats.data[0][k]
  )

  proteinDescriptionSource.value = `https://www.uniprot.org/uniprotkb/${uniprotID}`;

  import axios from "axios";

  const uniprotInfo = await axios
    .create({
      baseURL: "https://rest.uniprot.org/uniprotkb",
      headers: {
        "Content-type": "application/xml"
      }
    })
    .get(`${uniprotID}.xml`)

  console.log(uniprotInfo);

  const parser = new DOMParser();
  const uniprotXML = parser.parseFromString(uniprotInfo.data, "application/xml");

  proteinDescription.value = uniprotXML.querySelector('[type="function"]') ? uniprotXML.querySelector('[type="function"]').textContent.trim() : "Description not found.";
  // proteinGeneName.value = uniprotXML.querySelector('gene > name[type="primary"]') ? uniprotXML.querySelector('gene > name[type="primary"]').textContent.trim() : "Gene name not found.";
</script>
