<template>
  <q-drawer
    side="right"
    v-model="drawerRight"
    show-if-above

    :width="220"
    :breakpoint="500"
    bordered
    :class="$q.dark.isActive ? 'bg-grey-9' : 'bg-grey-3'"
    >
    <q-scroll-area
      class="fit"
      :horizontal-thumb-style="{ opacity: 0 }"
      >
      <q-list padding>
        <q-item>
          <q-item-section>
            <h2 class="q-my-sm">{{ proteinGeneName }}</h2>
          </q-item-section>

          <q-item-section>
            <div>Uniprot ID: <q-chip>{{ uniprotID }}</q-chip></div>
            <q-skeleton animation="none" type="text" width="200px"></q-skeleton>
            <q-skeleton animation="none" type="text" width="180px"></q-skeleton>
          </q-item-section>

          <q-item-section>
            <div class="text-subtitle2">Selected Mutation:</div>
            <q-chip>{{ selectedMutation.aa_ref }}</q-chip>
            <q-chip>{{ selectedMutation.aa_pos }}</q-chip>
            <div class="q-px-md">></div>
            <q-chip>{{ selectedMutation.aa_alt }}</q-chip>
          </q-item-section>

          <q-separator></q-separator>

          <q-btn
            flat
            :icon="show ? 'expand_less' : 'expand_more'"
            @click="show = !show"
            label="Protein Description"
          ></q-btn>
        </q-item>

        <q-slide-transition>
          <div v-show="show">
            <q-separator></q-separator>
            <q-card-section>
              <h5 class="q-mt-none q-mb-md">Protein Description</h5>
              <div class="text-subtitle3 q-mb-md">
                {{ proteinDescription }}
              </div>
              <div class="text-caption text-grey-7">Description sourced from <a :href="proteinDescriptionSource"> {{ proteinDescriptionSource }}</a>.</div>
            </q-card-section>
          </div>
        </q-slide-transition>
      </q-list>
    </q-scroll-area>
  </q-drawer>
</template>

<script setup>
  import VariantDataService from "../../services/VariantDataService";
  import { watch, ref, unref, onMounted } from "vue";

  const { uniprotID, selectedMutation } = defineProps({
    uniprotID: {
      type: String,
      required: true
    },
    selectedMutation: {
      type: Array
    }
  })

  const proteinDescription = ref("");
  const proteinDescriptionSource = ref("");
  const show = ref(false);
  const proteinGeneName = ref("");

  proteinDescriptionSource.value = `https://www.uniprot.org/uniprotkb/${uniprotID}`;

  // const response = await VariantDataService.retrieveUniprotDescription(uniprotID);

  // proteinDescription.value = response.data[0].desc;

  import axios from "axios";

  const response = await axios
    .create({
      baseURL: "https://rest.uniprot.org/uniprotkb",
      headers: {
        "Content-type": "application/xml"
      }
    })
    .get(`${uniprotID}.xml`)

  const parser = new DOMParser();
  const uniprotXML = parser.parseFromString(response.data, "application/xml");

  proteinDescription.value = uniprotXML.querySelector('[type="function"]').textContent.trim();
  proteinGeneName.value = uniprotXML.querySelector('gene > name[type="primary"]').textContent.trim();
</script>

<!-- <style>
  #proteinDescription {
    height: 20px;
    animation: prot-expand 1s ease;
  }

  @keyframes prot-expand {
    0% {
      height: 20px;
    }
    100% {
      height: 100%;
    }
  }

  #proteinDescription.expanded {
    height: 100%;
  }
</style> -->