<template>
  <div id="quiltContainer">
    <div ref="quiltDiv"></div>
  </div>
  <div ref="quiltDivNav"></div>
</template>

<script setup>
  import { onMounted, ref, watch } from 'vue'
  import VariantDataService from "../../services/VariantDataService";
  import Plotly from 'plotly.js-dist'

  const emit = defineEmits(["response"]);

  const props = defineProps(["uniprotID", "select", "selectedMutation"])
  // const { uniprotID, select, test } = defineProps({
  //   uniprotID: {
  //     type: String,
  //     required: true
  //   },
  //   select: {
  //     type: String,
  //     required: true
  //   },
  //   test: {
  //     type: String
  //   }
  // })

  const uniprotID = props.uniprotID;
  const select = props.select;
  // const selectedMutation = ref(props.selectedMutation);

  watch(props.selectedMutation, highlightPlot);
  // watch(props.selectedMutation.value, highlightPlot);
  watch(() => props.selectedMutation, highlightPlot);

  function highlightPlot(newMutation, oldMutation) {
    console.log(oldMutation);
    console.log(newMutation);
    // TODO: scroll to mutation

    Plotly.relayout(quiltDiv.value, {
      shapes: {
        type: 'rect',
        xref: 'x',
        yref: 'y',
        x0: newMutation.aa_pos - 1 - 0.5,
        y0: aminoAcids.indexOf(newMutation.aa_ref) - 0.5,
        x1: newMutation.aa_pos - 1 + 0.5,
        y1: aminoAcids.indexOf(newMutation.aa_ref) + 0.5,
        // fillcolor: '#d3d3d3',
        // opacity: 0.2,
        line: {
          width: 2,
          color: 'rgba(20, 20, 20, 1)'
        }
      }
    })
  }

  console.log(uniprotID);
  console.log(select);
  const aminoAcids = "ARDNCEQGHILKMFPSTWYV".split("");

  VariantDataService.getByUniprot(uniprotID, select)
    .then(response => {
      const proteinLength = response.data[response.data.length - 1].aa_pos;
      const proteinPosition = Array.from({length: proteinLength}, (value, index) => index + 1);

      var proteinDDG = Array.from({length: aminoAcids.length}, (value, index) => []);

      aminoAcids.forEach((aa, i) => {
        proteinPosition.forEach(pos => {
          proteinDDG[i].push(
            response.data
              .filter(x => {return x.aa_pos == pos})
              .find(x => x.aa_alt == aa)
            )
        })
      });

      proteinDDG = proteinDDG.map(aa => {
        return aa.map(x => {
          if (x) {
            return x.ddg
          } else {
            return null
          }
        })
      });

      const data = [
        {
          z: proteinDDG,
          x: proteinPosition,
          y: aminoAcids,
          type: "heatmap"
        }
      ]

      // var proteinAARefs = [];
      // response.data.forEach(x => {
      //   // console.log(x);
      //   proteinAARefs.push(
      //     {
      //       type: 'rect',
      //       xref: 'x',
      //       yref: 'y',
      //       x0: x.aa_pos - 1 - 0.5,
      //       y0: aminoAcids.indexOf(x.aa_ref) - 0.5,
      //       x1: x.aa_pos - 1 + 0.5,
      //       y1: aminoAcids.indexOf(x.aa_ref) + 0.5,
      //       // fillcolor: '#d3d3d3',
      //       // opacity: 0.2,
      //       line: {
      //         width: 2,
      //         color: 'rgba(20, 20, 20, 1)'
      //       }
      //     }
      // )})

      Plotly.newPlot(quiltDiv.value, data, { 
        // autosize: true,
        // showlegend: true,
        height: 375,
        width: proteinLength * 10,
        coloraxis: {
          colorbar: { "orientation": "h", y: -0.15 }
        },
        yaxis: {
          title: "Amino Acid",
          constrain: "domain",
          // range:["A","Y"]
          // fixedrange: true
        }, 
        xaxis: {
          title: "Position", 
          scaleanchor: "y",
          type: "category",
          // range: [0, 35],
          // fixedrange: true
        },
        // dragmode: "pan",
        dragmode: false,
        // shapes: proteinAARefs
        shapes: {}
      }, 
        // { responsive: true }
      )
      // .then(plotlyElement => {
      //     console.log(plotlyElement);
      //     Plotly.toImage()
      //     Plotly.toImage(plotlyElement, { height: 300, width: 300 })
      //       .then(pngBase64 => {
      //             console.log(pngBase64);
      //             Plotly.newPlot(quiltDivNav.value, 
      //               [{
      //                 // x: proteinPosition,
      //                 // y: aminoAcids,
      //                 // type: ""
      //                 x: [1, 2, 3],
      //                 y: [1, 2, 3]
      //               }], 
      //               {
      //                 images: [{
      //                   "source": pngBase64,
      //                   "xref": "x",
      //                   "yref": "y",
      //                   "x": 1.5,
      //                   "y": 2,
      //                   "sizex": 1,
      //                   "sizey": 1,
      //                   "xanchor": "right",
      //                   "yanchor": "bottom"
      //                 }],
      //                 // autosize: false,
      //                 yaxis: {
      //                   title: "Amino Acid",
      //                   // fixedrange: true
      //                 }, 
      //                 xaxis: {
      //                   title: "Position", 
      //                   scaleanchor: "y",
      //                   type: "category",
      //                   // fixedrange: true
      //                 },
      //                 dragmode: "pan",
      //               }, 
      //               // { responsive: true }
      //               );
      //       })
      // });

      quiltDiv.value.on("plotly_click", function(data) {
        console.log(data.points);
        console.log(props.selectedMutation);
        // emit("response", data.points);
      });
    })
    .catch(e => {
      console.log(e);
    });

  const quiltDiv = ref(null);
  const quiltDivNav = ref(null);

  // var update = {
  //   title: 'some new title', // updates the title
  //   'xaxis.range': [0, 5],   // updates the xaxis range
  //   'yaxis.range[1]': 15     // updates the end of the yaxis range
  // };
  // Plotly.relayout(graphDiv, update);


  // var data = [
  //   {
  //     z: [[2]],
  //     x: [0],
  //     y: ["A"],
  //     type: "heatmapgl"
  //   }
  // ]

  // onMounted(() => {
  //   Plotly.newPlot(quiltDiv.value, data);
  // })
</script>

<style>
  #quiltContainer {
    width: 100%;
    overflow-x: scroll;
  }
</style>