<template>
  <div id="quiltContainer" style="position: relative;">
    <v-chart class="chart" ref="quiltDiv" @selectchanged="handleHighlight" @click="onClick" :loading="isLoading"/>
    <!-- <div style="background-image: url({{ overviewBase64 }});">bgimage</div> -->
    <v-chart class="chartMini" ref="quiltMiniDiv"/>
    <!-- <q-img
      :src="overviewBase64"
      class="chartMiniImg"
      fit="fill"
      /> -->
      <q-resize-observer @resize="onResize" debounce="500"/>
  </div>
  <q-select
    v-model="colourDim"
    :options="colourDimOptions"
    filled
    dense
    hide-bottom-space
    @update:model-value="onColourDimChange"
    />
  <!-- <div ref="quiltDivNav"></div> -->
</template>

<script setup>
  import { onMounted, ref, watch, provide } from 'vue'
  import VariantDataService from "../../services/VariantDataService";
  // import HeatmapChart from "echarts/charts";
  import * as echarts from "echarts";
  import VChart, { THEME_KEY } from "vue-echarts";
  // import { state } from "pages/ProteinDisplayStore.js";
  import { useUtilsStore } from "stores/utils.js";
  import { useProteinStore } from "stores/protein.js";

  const utilsStore = useUtilsStore();
  const proteinStore = useProteinStore();

  // const emit = defineEmits(["response"]);

  const props = defineProps(["select"])
  // const { uniprotID, select, test } = defineProps({
  //   uniprotID: {
  //     type: String,
  //     required: true
  //   },
  //   select: {
  //     type: String,
  //     required: true
  //   },
  //   test: {
  //     type: String
  //   }
  // })

  const uniprotID = proteinStore.uniprotID;
  const select = props.select;
  // const activeMutation = ref(props.activeMutation);

  const colourDim = ref("ddG");
  const overviewBase64 = ref("");
  var colourDimOptions = [];

  // const colourMap = ['#67001f','#b2182b','#d6604d','#f4a582','#fddbc7','#f7f7f7','#d1e5f0','#92c5de','#4393c3','#2166ac','#053061']; // colourbrewer2 11-class RdBu
  // for ddg, 5 to -5 seems to capture vast majority of data

  // function calibrateEnds(rangeMin, rangeMax, step = 1, colourMin = -5, colourMax = 5) {
  //   rangeMin = Math.max(Math.floor(rangeMin / step) * step, colourMin);
  //   rangeMax = Math.min(Math.ceil(rangeMax / step) * step, colourMax);

  //   return [rangeMin, rangeMax];
  // }

  // function selectColours([rangeMin, rangeMax], colourRange, step = 1, centerIndex = 5) {
  //   // rangeMin = Math.floor(rangeMin / 0.5) / 0.5; // round to 0.5
  //   // rangeMax = Math.ceil(rangeMax / 0.5) * 0.5; // round to 0.5
  //   // rangeMin = Math.abs(Math.max(Math.floor(rangeMin / step) * step, colourMin));
  //   // rangeMax = Math.abs(Math.min(Math.ceil(rangeMax / step) * step, colourMax));

  //   // -2 to 3
  //   // -2, -1, 0, 1, 2, 3
  //   // ['#f4a582','#fddbc7','#f7f7f7','#d1e5f0','#92c5de','#4393c3']

  //   return colourRange.slice(centerIndex - (Math.abs(rangeMin) / step), centerIndex + (Math.abs(rangeMax) / step) + 1);
  // }

  function onColourDimChange(newValue) {
    console.log(newValue);

    // const newDataIndex = newValue.dataIndex;
    const newDataName = newValue.dataName;
    // const dataMin = newValue.min;
    // const dataMax = newValue.max;
    // const dataColourRange = newValue.colourRange;
    // const dataColourMin = newValue.colourMin;
    // const dataColourMax = newValue.colourMax;
    // // Assuming odd-numbered dataColourRange where the 0 value is always the middle index
    // const dataColourMid = (dataColourRange.length - 1) / 2;
    // const dataColourStep = dataColourMax / dataColourMid;

    // var dataMin;
    // var dataMax;

    // const localColours = true;
    // if (localColours) {
    //   [dataMin, dataMax] = utilsStore.calibrateEnds(newValue.min, newValue.max);
    // } else {
    //   [dataMin, dataMax] = utilsStore.calibrateEnds(newValue.min, newValue.max,dataColourStep, dataColourMin, dataColourMax);
    // }
    // utilsStore.calibratedEnds[newDataName] = [dataMin, dataMax];

    // // const fromIndex = proteinDDG.indexOf('css'); // 👉️ 0
    // // const toIndex = 2;

    // // const element = arr.splice(newValue, 1)[0];
    // // console.log(element); // ['css']

    // // arr.splice(toIndex, 0, element);


    // // proteinDDG = proteinDDG.map(x => [])

    // // quiltDiv.value.setOption({
    // //   series: [
    // //     {
    // //       data: proteinDDG
    // //     }]
    // // })

    // console.log(newDataName);
    // console.log(dataMin);
    // console.log(newValue.min);
    // console.log(dataMax);
    // console.log(newValue.max);
    // console.log(utilsStore.colourMap[newDataName]);

    quiltDiv.value.setOption({
      tooltip: {
        formatter: params => {return `${params.marker}${params.name}<span style="float: right; margin-left: 20px"><b>${params.data[newDataName]}</b>`}
      },
      visualMap: {
        dimension: newDataName,
        min: utilsStore.calibratedEnds[newDataName][0],
        max: utilsStore.calibratedEnds[newDataName][1],
        inRange: {
          // color: localColours ? utilsStore.selectColours([dataMin, dataMax], dataColourRange) : utilsStore.selectColours([dataMin, dataMax], dataColourRange, dataColourStep, dataColourMid)
          color: utilsStore.colourMap[newDataName]
        }
      }
    });

    quiltMiniDiv.value.setOption({
      visualMap: {
        dimension: newDataName,
        min: utilsStore.calibratedEnds[newDataName][0],
        max: utilsStore.calibratedEnds[newDataName][1],
        inRange: {
          // color: localColours ? utilsStore.selectColours([dataMin, dataMax], dataColourRange) : utilsStore.selectColours([dataMin, dataMax], dataColourRange, dataColourStep, dataColourMid)
          color: utilsStore.colourMap[newDataName]
        }
      }
    });

    // visualMap orient to new values
    quiltDiv.value.dispatchAction({
      type: "selectDataRange",
      // selected: [dataMin, dataMax]
      selected: utilsStore.calibratedEnds[newDataName]
    })

    // quiltMiniDiv.value.dispatchAction({
    //   type: "selectDataRange",
    //   selected: [dataMin, dataMax]
    // })
  }

  // watch(props.activeMutation, highlightPlot);
  // // watch(props.activeMutation.value, highlightPlot);
  watch(() => proteinStore.activeMutation, highlightPlot);

  function highlightPlot(newMutation, oldMutation) {
    console.log(oldMutation);
    console.log(newMutation);
    // console.log(newMutation.value.aa_ref);
    console.log(newMutation.aa_ref);

    quiltDiv.value.dispatchAction({
      type: "dataZoom",
      // dataZoomIndex: 0,
      startValue: newMutation.aa_pos - 38,
      endValue: newMutation.aa_pos + 38,
      // startValue: newMutation.aa_pos - 50 < 0 ? 0 : newMutation.aa_pos,
      // endValue: newMutation.aa_pos + 50 > ddgMax ? ddgMax : newMutation.aa_pos,
    })

    quiltDiv.value.dispatchAction({
      type: "select",
      // seriesIndex: 0,
      name: `${newMutation.aa_pos}_${newMutation.aa_alt}`,
      // dataIndex: proteinDDG.findIndex(item => { return item.aa_pos == newMutation.aa_pos && item.aa_alt == newMutation.aa_alt; })
    })
  }

  console.log(uniprotID);
  console.log(select);
  const aminoAcids = "PCGQNTSEDKHRWYFMILVA".split("");

  function handleHighlight(event) {
    console.log("handling highlight");
    console.log(event);
  }

  function onClick(event) {
    console.log("being clicked!");
    console.log(event);
    console.log(event.dataIndex);
    quiltDiv.value.dispatchAction({
      type: "select",
      seriesIndex: event.seriesIndex,
      dataIndex: event.dataIndex,
    })
    // emit("response", [{
    //   x: event.data.value[0],
    //   y: event.data.value[1]
    // }]);

    // activeMutation = {
    //   aa_ref: null,
    //   aa_pos: Number(event.data.value[0]),
    //   aa_alt: event.data.value[1]
    // }

    console.log(proteinStore.activeMutation);

    console.log(event);

    proteinStore.setActiveMutation({
      aa_pos: Number(event.data.aa_pos),
      aa_alt: event.data.aa_alt
    })

    // proteinStore.activeMutation.aa_ref = null;
    // proteinStore.activeMutation.aa_pos = Number(event.data.aa_pos);
    // proteinStore.activeMutation.aa_alt = event.data.aa_alt;
    // proteinStore.updateAARef();

    console.log(proteinStore.activeMutation);
  }

  const manualUpdate = ref(true);
  const isLoading = ref(true);
  // const option = ref({});
  // const quiltDivContainer = ref(null);
  const quiltDiv = ref(null);
  const quiltMiniDiv = ref(null);
  // var quiltChart = echarts.init(quiltDiv.value);
  // const quiltDivNav = ref(null);

  // window.onresize = function() {
  //   quiltChart.resize();
  // };

  function onResize(size) {
    // size = {width: 20, height:50} // in px
    console.log(size);

    quiltDiv.value.resize();
    quiltMiniDiv.value.resize();
  }

  const response = await VariantDataService.getByUniprot(uniprotID, select);

  console.log(response);

  const proteinLength = response.data[response.data.length - 1].aa_pos;
  const proteinPosition = Array.from({length: proteinLength}, (value, index) => index + 1);

  console.log("hi");

  // var proteinDDG = Array.from({length: aminoAcids.length}, (value, index) => []);

  var proteinDDG = response.data;

  proteinPosition.forEach(pos => {
    const aa_ref = proteinDDG.find(item => { return item.aa_pos == pos}).aa_ref;
    proteinDDG.push({
      aa_ref: aa_ref,
      aa_alt: aa_ref,
      aa_pos: pos,
      ddg: null,
      score: null,
      delta_score: null
    })
  })
  //       itemStyle: {
  //         // color: "rgba(0, 0, 0, 0.1)",
  //         color: "transparent"

  console.log(proteinDDG);

  // For some reason, keeping aa_ref breaks this
  proteinDDG.forEach(item => {
    delete item.aa_ref;
  })

  proteinDDG = proteinDDG.map(item => {
    item.name = `${item.aa_pos}_${item.aa_alt}`;
    return item;
  })

  // proteinDDG = proteinDDG.map(item => {
  //   // item.aa_pos = String(item.aa_pos);
  //   // item.name = `${item.aa_pos}_${item.aa_alt}`;
  //   return {
  //     aa_alt: item.aa_alt,
  //     aa_ref: item.aa_ref,
  //     aa_pos: item.aa_pos,
  //     ddg: item.ddg,
  //     score: item.score,
  //     delta_score: item.delta_score,
  //   };
  // })

  // proteinDDG =proteinDDG.map(item => {
  //   item.aa_pos = String(item.aa_pos);
  //   return {
  //     name: `${item.aa_pos}_${item.aa_alt}`,
  //     value: item
  //   };
  // })

  // var proteinDDG = [];
  // // var proteinDDGCum = [];

  // aminoAcids.forEach((aa, i) => {
  //   proteinPosition.forEach(pos => {
  //     proteinDDG.push([
  //       pos,
  //       aa,
  //       response.data
  //         .filter(x => {return x.aa_pos == pos})
  //         .find(x => x.aa_alt == aa)
  //       ]);
  //   })
  // });

  // // proteinDDG = proteinDDG.map(item => {
  // //   return [
  // //     item[0],
  // //     item[1],
  // //     item[2] ? item[2].ddg : 0
  // // ]})

  // console.log(proteinDDG);

  // proteinDDG = proteinDDG.map(item => {
  //   if (item[2]) {
  //     return {
  //       name: `${item[0]}_${item[1]}`,
  //       value: [
  //         String(item[0]), // to make it attach to protein position 1, not ProteinPosition.find(1)
  //         item[1],
  //         item[2].ddg,
  //         item[2].delta_score,
  //         item[2].score
  //       ]
  //     }
  //   } else {
  //     return {
  //       name: `${item[0]}_${item[1]}`,
  //       value: [
  //         String(item[0]), // to make it attach to protein position 1, not ProteinPosition.find(1)
  //         item[1],
  //         0,
  //         0,
  //         null
  //       ],
  //       itemStyle: {
  //         // color: "rgba(0, 0, 0, 0.1)",
  //         color: "transparent"
  //         // borderColor: "#555",
  //         // borderWidth: 1,
  //         // shadowBlur: 10,
  //         // // shadowOffsetX: 0,
  //         // shadowColor: "rgba(0, 0, 0, 0.5)"
  //       }
  //     }
  //   }
  // })
  console.log(proteinDDG);


  // const data = [
  //   {
  //     z: proteinDDG,
  //     x: proteinPosition,
  //     y: aminoAcids,
  //     type: "heatmap"
  //   }
  // ]

  // console.log(data);

  // // const proteinDDGCum = proteinDDG
  // //   .sort((a, b) => a.value[2] - b.value[2]);

  // const proteinDDGCum = proteinDDG
  //   .sort((a, b) => {
  //     return a.value[0] - b.value[0] || b.value[2] - a.value[2]; // sort on pos first, then on ddg
  //   })
  //   .filter(x => {
  //     return x.value[2] != 0;
  //   })
  //   .map((x, i) => {
  //     return [
  //       x.value[0],
  //       i % 19,
  //       x.value[2]
  //       // x.value[2].toFixed(0)
  //     ];
  //   })

  // const dataCum = [
  //   {
  //       z: proteinDDGCum,
  //       x: proteinPosition,
  //       y: Array.from({length: 19}, (v, i) => i),
  //       type: "heatmap"
  //   }
  // ]

  // console.log(dataCum);

  // var proteinAARefs = [];
  // response.data.forEach(x => {
  //   // console.log(x);
  //   proteinAARefs.push(
  //     {
  //       type: 'rect',
  //       xref: 'x',
  //       yref: 'y',
  //       x0: x.aa_pos - 1 - 0.5,
  //       y0: aminoAcids.indexOf(x.aa_ref) - 0.5,
  //       x1: x.aa_pos - 1 + 0.5,
  //       y1: aminoAcids.indexOf(x.aa_ref) + 0.5,
  //       // fillcolor: '#d3d3d3',
  //       // opacity: 0.2,
  //       line: {
  //         width: 2,
  //         color: 'rgba(20, 20, 20, 1)'
  //       }
  //     }
  // )})

  // const ddgArray = response.data.map(item => {return item.ddg});

  // const ddgMin = Math.min(...ddgArray);
  // const ddgMax = Math.max(...ddgArray);
  // const [ddgMin, ddgMax] = utilsStore.calibrateEnds(Math.min(...ddgArray), Math.max(...ddgArray));
  // utilsStore.calibratedEnds.ddg = [ddgMin, ddgMax];
  // console.log(utilsStore.calibratedEnds.ddg);

  utilsStore.calibratedEnds.ddg = utilsStore.calibrateEnds(Math.min(...proteinDDG.map(item => {return item["ddg"]})), Math.max(...proteinDDG.map(item => {return item["ddg"]})));

  utilsStore.calibratedEnds.delta_score = utilsStore.calibrateEnds(Math.min(...proteinDDG.map(item => {return item["delta_score"]})), Math.max(...proteinDDG.map(item => {return item["delta_score"]})));

  utilsStore.calibratedEnds.score = utilsStore.calibrateEnds(Math.min(...proteinDDG.map(item => {return item["score"]})), Math.max(...proteinDDG.map(item => {return item["score"]})));

  // const response2 = await VariantDataService.retrieveProteinMutation(uniprotID, "aa_alt,aa_ref");

  // console.log(proteinDDG.map(item => {
  //         return { name: `${item[0]}_${item[1]}`, value: item }
  //       }));

  colourDimOptions = [
    {
      label: "ddG",
      dataName: "ddg",
      dataIndex: 2,
      // min: Math.min(...proteinDDG.map(item => {return item.value[2]})),
      // max: Math.max(...proteinDDG.map(item => {return item.value[2]})),
      min: Math.min(...proteinDDG.map(item => {return item["ddg"]})),
      max: Math.max(...proteinDDG.map(item => {return item["ddg"]})),
      colourMin: -5,
      colourMax: 5, // based on looking at entire dataset of ddg
      colourRange: utilsStore.colourMap["ddg"]
    },
    {
      label: "Z-Score",
      dataName: "delta_score",
      dataIndex: 3,
      min: Math.min(...proteinDDG.map(item => {return item["delta_score"]})),
      max: Math.max(...proteinDDG.map(item => {return item["delta_score"]})),
      colourMin: -50,
      colourMax: 50,
      colourRange: utilsStore.colourMap["delta_score"]
    },
    {
      label: "Score",
      dataName: "score",
      dataIndex: 4,
      min: Math.min(...proteinDDG.map(item => {return item["score"]})),
      max: Math.max(...proteinDDG.map(item => {return item["score"]})),
      colourMin: -25,
      colourMax: 25,
      colourRange: utilsStore.colourMap["score"]
    }
  ];

  onMounted(async () => {
    quiltDiv.value.setOption({
      // title: {
      //   text: "Traffic Sources",
      //   left: "center"
      // },
      dataset: {
        source: proteinDDG
      },
      textStyle: {
        fontSize: 10,
      },
      progressive: 0,
      animation: false,
      dataZoom: [
        {
            id: 'dataZoomX',
            type: 'slider',
            // xAxisIndex: [0, 1],
            filterMode: 'filter',
            startValue: 0,
            endValue: 75,
            // showDataShadow: true
            // left: "9%",
            // right: "1%",
        }
      ],
      tooltip: {
        position: "top",
        backgroundColor: "rgba(255, 255, 255, 0.8)",
        // position: ["5%", "5%"],
        // trigger: "item",
        // formatter: params => {return params}
        // axisPointer: {
        //   show: true,
        //   type: "line",
        //   animation: false,
        //   snap: false,
        //   handle: {
        //     show: true,
        //   },
        //   shadowStyle: {
        //     opacity: 0
        //   },
        //   crossStyle: {
        //     width: 0,
        //     shadowBlur: 0,
        //     opacity: 0
        //   },
        //   label: {
        //     show: true,
        //   }
        // },
      },
      grid: [
        // {
        //   left: "9%",
        //   right: "1%",
        //   // bottom: "16.5%"
        //   bottom: "20%"
        // },
        // {
        //   left: "9%",
        //   right: "1%",
        //   height: "10%",
        //   top: "top"
        // }
        {
          left: "9%",
          right: "1%",
          bottom: "20%",
          top: "1%"
        }
      ],
      xAxis: [
        {
          type: "category",
          // data: proteinPosition,
          splitArea: {
            show: false
          },
          axisLabel: {
            fontSize: 10,
          },
          // axisPointer: {
          //   show: true,
          //   type: "none",
          //   label: {
          //     show: true,
          //     color: "black",
          //     backgroundColor: "transparent",
          //     textBorderColor: "rgba(255, 255, 255, 0.8)",
          //     textBorderWidth: 4,
          //     // backgroundColor: "white",
          //     // borderColor: "black",
          //     // borderWidth: "1",
          //     fontWeight: "bold",
          //     shadowBlur: 0
          //   },
          //   triggerEmphasis: false,
          // },
          name: "Protein Position",
          nameLocation: "middle",
          nameGap: 25
        },
        // {
        //   type: "category",
        //   data: proteinPosition,
        //   splitArea: {
        //     show: false
        //   },
        //   show: false,
        //   gridIndex: 1
        // }
      ],
      yAxis: [
      {
          type: "category",
          data: aminoAcids,
          splitArea: {
            show: false
          },
          axisLabel: {
            fontSize: 10,
          },
          // axisPointer: {
          //   show: true,
          //   type: "none",
          //   label: {
          //     show: true,
          //     color: "black",
          //     backgroundColor: "transparent",
          //     // textBorderColor: "black",
          //     // textBorderWidth: 1,
          //     // fontWeight: "bold",
          //     shadowBlur: 0
          //   },
          //   triggerEmphasis: false,
          // },
          name: "Amino Acids",
          nameLocation: "middle",
          nameGap: 25
        },
        // {
        //   type: "category",
        //   data: Array.from({length: 19}, (v, i) => i),
        //   splitArea: {
        //     show: false
        //   },
        //   name: "Stack Plot",
        //   nameLocation: "middle",
        //   nameGap: 25,
        //   show: false,
        //   gridIndex: 1
        // }
      ],
      visualMap: {
        type: "continuous",
        // dimension: 2,
        dimension: "ddg",
        min: utilsStore.calibratedEnds["ddg"][0],
        max: utilsStore.calibratedEnds["ddg"][1],
        precision: 1,
        // text: [ddgMax, ddgMin],
        calculable: true,
        hoverLink: false,
        top: "top",
        left: "left",
        itemHeight: 300,
        textStyle: {
          textBorderColor: "rgba(255, 255, 255, 0.8)",
          textBorderWidth: 4,
        },
        inRange: {
          // color: utilsStore.selectColours([ddgMin, ddgMax], utilsStore.colourMap.ddg)
          color: utilsStore.colourMap.ddg
        },
        // inRange: {
        //   color: selectColours(ddgMin, ddgMax, colourMap)
        // }
        // align: "right"
        // orient: 'horizontal',
        // left: 'center',
        // bottom: '0%'
        // inRange: {
        //   color: {
        //     ddgMin: "red",
        //     ddgZero: "yellow",
        //     ddgMax: "blue"
        //   }
        // }

        // inRange : {   
        //   // color: ['red', 'blue' ] //From smaller to bigger value ->
        //   color: {
        //     type: 'linear',
        //     x: 0,
        //     y: 0,
        //     x2: 0,
        //     y2: 1,
        //     colorStops: [{
        //         offset: 0, color: 'red' // color at 0%
        //     }, {
        //         offset: 1, color: 'blue' // color at 100%
        //     }],
        //     global: false // default is false
        //   }
        //  }
      },
      // color: {
      //   type: 'linear',
      //   x: 0,
      //   y: 0,
      //   x2: 0,
      //   y2: 1,
      //   colorStops: [{
      //       offset: 0, color: 'red' // color at 0%
      //   }, {
      //       offset: 1, color: 'blue' // color at 100%
      //   }],
      //   global: true // default is false
      // },
      series: [
        {
          // name: "Traffic Sources",
          type: "heatmap",
          selectedMode: "single",
          // select: {
          //   itemStyle: {
          //     shadowBlur: 10,
          //     shadowOffsetX: 0,
          //     shadowColor: "rgba(0, 0, 0, 0.5)"
          //   }
          // },
          // data: proteinDDG,
          encode: {
            itemName: "name",
            x: "aa_pos",
            y: "aa_alt"
          },
          label: {
            show: false
          },
          emphasis: {
            itemStyle: {
              shadowBlur: 10,
              shadowOffsetX: 0,
              shadowColor: "rgba(0, 0, 0, 0.5)"
            }
          },
          itemStyle: {
            borderColor: "transparent",
            shadowColor: "transparent",
            // borderRadius: 2
          }
        },
        // {
        //   type: "scatter",
        //   xAxisIndex: 1,
        //   yAxisIndex: 1,
        //   data: proteinGnomad,
        //   label: false,
        //   silent: true,
        // }
        // {
        //   type: "heatmap",
        //   xAxisIndex: 1,
        //   yAxisIndex: 1,
        //   data: proteinDDGCum,
        //   label: false,
        //   silent: true,
        // }
        ]
    });

    quiltMiniDiv.value.setOption({
      dataset: {
        source: proteinDDG
      },
      progressive: 0,
      animation: false,
      grid: [
        {
          left: "9.5%",
          right: "0.5%",
          bottom: "0%",
          top: "0%"
        }
      ],
      xAxis: [
        {
          type: "category",
          show: false,
          // data: proteinPosition,
          splitArea: {
            show: false
          },
        },
      ],
      yAxis: [
      {
          type: "category",
          show: false,
          data: aminoAcids,
          splitArea: {
            show: false
          },
        },
      ],
      visualMap: {
        type: "continuous",
        show: false,
        dimension: "ddg",
        min: utilsStore.calibratedEnds["ddg"][0],
        max: utilsStore.calibratedEnds["ddg"][1],
        precision: 1,
        // text: [ddgMax, ddgMin],
        inRange: {
          color: utilsStore.colourMap.ddg
        },
      },
      series: [
        {
          type: "heatmap",
          selectedMode: "single",
          encode: {
            itemName: "name",
            x: "aa_pos",
            y: "aa_alt"
          },
          label: {
            show: false
          },
        },
        ]
    });

    // setTimeout(() => {overviewBase64.value = quiltMiniDiv.value.getDataURL({pixelRatio: 1});}, 1000);
    // overviewBase64.value = quiltMiniDiv.value.getDataURL({pixelRatio: 1});
    // console.log(overviewBase64);

    isLoading.value = false;
  })
</script>

<!-- <style>
  #quiltContainer {
    width: 100%;
    overflow-x: scroll;
  }
</style> -->

<style scoped>
  .chart {
    height: 390px;
  }

  .chartMini {
    /* height: 90px; */
    /* opacity: 0; */
    /* position: absolute; */
    /* bottom: 0; */
    /* right: 0; */
    /* z-index: -9999; */
    position: absolute;
    height: 30px;
    bottom: 7px;
    z-index: -9999;
    pointer-events: none;
    cursor: none;
  }

  .chartMiniImg {
    height: 65px;
    position: absolute;
    bottom: -15px;
    z-index: -9999;
    pointer-events: none;
    cursor: none;
  }
</style>
