<template>
  <form
    @submit.prevent="submitProteinSelection"
    class="row"
    style="width: 100%"
    >
    <q-select
      dense
      options-dense
      filled
      v-model="proteinSelection"
      use-input
      input-debounce="500"
      :label="proteinOptions.length > 0 ? 'Uniprot ID' : 'Retrieving from Server...'"
      :options="proteinOptions"
      :disable="proteinOptions.length <= 0"
      :loading="proteinOptions.length <= 0"
      @filter="filterTextInput"
      class="col"
      behavior="dialog"
      >
      <template #no-option>
        <q-item>
          <q-item-section class="text-grey">
            No results
          </q-item-section>
        </q-item>
      </template>
      <!-- <template #after>
        <q-btn
          dense
          flat
          type="submit"
          icon="chevron_right"
          class="q-ml-sm col-auto"
          ></q-btn>
      </template> -->
    </q-select>

    <q-btn
      dense
      flat
      type="submit"
      icon="chevron_right"
      class="q-ml-sm col-auto"
      :disable="!proteinSelection"
      ></q-btn>
  </form>
</template>

<script setup>
  import { ref, watch, onMounted } from "vue";
  import { useRouter } from "vue-router";
  // import state from "../pages/AppStore.js";
  import { useAppStore } from "stores/app.js";

  const appStore = useAppStore();

  const router = useRouter();

  // console.log(state);

  var proteinOptionsList = [];
  const proteinOptions = ref(proteinOptionsList);
  const proteinSelection = ref("");

  // onMounted(() => {
  //     // const proteinOptionsList = Array.from(state.uniprotMap.keys());
  //   const proteinOptionsList = Array.from( state.uniprotMap.entries() ).map(x => `${x[0]} (${x[1].join(", ")})`);
  //   proteinOptions.value = proteinOptionsList;
  // })

  const unwatch = watch(() => appStore.uniprotMap, fillProteinOptions);

  if (appStore.uniprotMap == null || appStore.uniprotMap.size == 0) {
    console.log("null!");
  } else {
    fillProteinOptions(appStore.uniprotMap);
  }

  async function fillProteinOptions(newUniprotMap) {
    console.log("filling protein options");

    // const proteinOptionsList = Array.from(state.uniprotMap.keys());
    // const proteinOptionsList = Array.from( state.uniprotMap.entries() ).map(x => `${x[0]} (${x[1].join(", ")})`);
    proteinOptionsList = Array.from(appStore.uniprotMap.entries() ).map(x => `${x[0]} (${x[1].join(", ")})`);

    proteinOptions.value = proteinOptionsList;

    // console.log(proteinOptions);

    // Only needs to run once
    unwatch();
}

  function filterTextInput(val, update) {
    if (val === '') {
      update(() => {
        proteinOptions.value = proteinOptionsList

        // here you have access to "ref" which
        // is the Vue reference of the QSelect
      })
      return;
    }

    update(() => {
      const needle = val.toLowerCase()
      proteinOptions.value = proteinOptionsList.filter(v => v.toLowerCase().indexOf(needle) > -1)
    })
  }

  function submitProteinSelection(event) {
    const uniprot = proteinSelection.value.trim().split(" ")[0];

    if (uniprot) {
      router.push({ name: "protein", params: { uniprot }});
    }
  }
</script>
