<template>
  <form
    @submit.prevent="submitVCF"
    class="row"
    style="width: 100%"
    >
    <q-file
      v-model="file"
      label="Upload VCF"
      dense
      filled
      :clearable="!isUploading"
      accept=".vcf, .vcf.gz"
      @rejected="onRejected"
      :loading="isUploading"
      class="col"
      max-file-size="5000000000"
      >
      <template #prepend>
        <q-icon name="attach_file" />
      </template>
      <template #loading>
        <div class="rounded-borders absolute-full column" style="height: 100%; background-color: white; overflow: hidden">
          <q-linear-progress
            class="col"
            style="height: 50%"
            :value="uploadProgress"
            track-color="grey-2"
            >
            <div class="absolute-full flex flex-center">
              <q-badge color="primary" :label="uploadProgress < 1 ? `Uploading: ${(uploadProgress * 100).toFixed(2)}%` : 'Uploaded'" />
            </div>
          </q-linear-progress>
          <q-linear-progress
            class="col"
            style="height: 50%"
            :indeterminate="isProcessing"
            track-color="grey-2"
            color="secondary"
            >
            <div class="absolute-full flex flex-center">
              <q-badge color="secondary" :label="isProcessing ? 'Processing...' : 'Waiting for upload'" />
            </div>
          </q-linear-progress>

        </div>
        <!-- <q-avatar>
          <q-icon :name="uploadProgress[index].icon" />
        </q-avatar> -->

        <!-- <div class="ellipsis relative-position">
          {{ file.name }}
        </div>

        <q-tooltip>
          {{ file.name }}
        </q-tooltip> -->
      </template>
    </q-file>

    <q-btn
      dense
      flat
      type="submit"
      icon="cloud_upload"
      class="q-ml-sm col-auto"
      :loading="isUploading"
      :disable="!file"
      ></q-btn>
      <!-- @click="uploadVCF" -->
  </form>
  <q-dialog v-model="responseErrorDialog" seamless position="bottom">
      <q-card style="width: 80%">
        <q-card-section class="row items-center no-wrap">
          <div>Upload Error: {{ responseErrorMessage }}</div>
          <q-space />
          <q-btn flat round icon="close" v-close-popup />
        </q-card-section>
      </q-card>
    </q-dialog>
</template>

<script setup>
  import { onBeforeUnmount, onMounted, ref, computed, watch, provide } from 'vue';
  import { useRouter } from 'vue-router';
  import VariantDataService from "../../services/VariantDataService";
  // import { variantState } from "pages/VariantsListDisplayStore.js";

  const router = useRouter();

  const variantHash = ref("");

  const responseErrorDialog = ref(false);

  const file = ref(null);
  const uploadProgress = ref(0.0);
  const uploading = ref(null);
  const isUploading = computed(() => uploadProgress.value > 0);
  const canUpload = computed(() => file.value !== null);

  // const processProgress = ref(0.0);
  // const isProcessing = computed(() => processProgress.value > 0);
  const isProcessing = computed(() => uploadProgress.value == 1);

  function onRejected() {
    console.warn("rejected!");
  }

  async function uploadVCF() {
    uploadProgress.value = 0;

    console.log(file.value);

    const response = await VariantDataService.uploadFile(file.value, event => {
      console.log(event);
      uploadProgress.value = event.progress;
    });

    console.log(response);
    if (response.status != 200) {
      responseErrorDialog.value = true;
    }
      // .then(response => {
        
      // })
      // // .then(files => )
      // .catch(e => {
      //   uploadProgress.value = 0;
      //   file.value = null;
      //   console.log(e);
      // });

    variantHash.value = response.data;
    // uploadProgress.value = 0;
    // processProgress.value = 0;
  }

  async function submitVCF(event) {
    console.log(event);

    await uploadVCF();

    const hash = variantHash.value.trim();

    console.log(`hash is: "${hash}"`);

    if (hash) {
      router.push({ name: "analyse", params: { hash }});
    }
  }
</script>
