<template>
  <q-table
    dense
    id="tableRef"
    v-model:pagination="pagination"
    :rows-per-page-options="[10, 20, 0]"
    ref="tableRef"
    :loading="loading"
    :rows="serverItems"
    :columns="headers"
    @request="loadItems"
    v-model:selected="selected"
    selection="single"
    row-key="id"
    :visible-columns="visibleColumns"
    @row-click="rowClicked"
  >

    <template #body-selection></template>

    <template #loading>
      <q-inner-loading
        showing
      />
    </template>

    <template #body-cell-ddg="props">
      <q-td :props="props">
        <q-badge v-if="props.row.ddg" dense :style="{ background: badgeBg(props.col.name, props.row.ddg) }" text-color="black">
          {{ props.row.ddg }}
        </q-badge>
        <!-- <div v-else style="text-align: center;"> -->
        <q-icon v-else
          name="highlight_off"
          color="red"
          />
        <!-- </div> -->
      </q-td>
    </template>

    <template #top>
      <!-- TODO: Make q-select text-input -->
      <q-select
        v-model="visibleColumns"
        multiple
        outlined
        dense
        options-dense
        :display-value="$q.lang.table.columns"
        :options="headersWoutID"
        option-value="name"
        options-cover
        style="min-width: 150px"
        />
      <!-- TODO: Make it more clear what this does -->
      <q-btn
        icon="refresh"
        flat
        dense
        @click="tableRef.requestServerInteraction()"
        class="q-ml-xs"
        />

      <q-space></q-space>

      <q-btn
        color="primary"
        icon-right="preview"
        label="Export View to CSV"
        no-caps
        @click="exportView"
        class="q-mr-xs"
        />

        <q-btn
        color="primary"
        icon-right="archive"
        label="Download File"
        no-caps
        @click="exportTable"
        />

      <q-linear-progress
        class="absolute-bottom"
        color="yellow-5"
        track-color="yellow-3"
        size="xs"
        :indeterminate="selectedLoading"
        />
    </template>
  </q-table>
</template>

<script setup>
  import VariantDataService from "../../services/VariantDataService";
  import { watch, ref, unref, onBeforeMount, onMounted, computed } from "vue";
  // import { variantStore } from "pages/VariantsListDisplayStore.js";
  import { useVariantStore } from "stores/variant.js";
  import { exportFile } from "quasar";
  import { useUtilsStore } from "stores/utils.js";

  const utilsStore = useUtilsStore();
  const variantStore = useVariantStore();

  // const emit = defineEmits(["selectedRow"]);

  const props = defineProps({
    select: {
      type: String,
      required: true
    }
  });

  function clone(original) {
    return JSON.parse(JSON.stringify(original));
  }

  const select = props.select;
  const selectedLoading = ref(false);

  console.log(variantStore);

  const visibleColumns = ref(select.split(","));
  const essentialColumns = variantStore.essentialValues;

  const selected = ref([]);

  // variantStore.$onAction = (action, cb) => {
  //   console.log(action);
  //   console.log(cb);
  // }
  // variantStore.$onAction(({ after, onError }) => {
  //   console.log(after);
  //   after(( resolvedValue ) => {
  //     console.log(after.name);
  //     console.log(resolvedValue);
  //     if (resolvedValue.name == "refreshActiveVariant") {
  //       console.log("HIIIIII")
  //     }
  //   })
  //   if (after.name == "refreshActiveVariant") {
  //     console.log("HIIIIII")
  //   }
  // })
  watch(() => variantStore.activeVariant, highlightRow);
  // variantStore.$subscribe((mutation, state) => {
  //   console.log(mutation);
  //   console.log(state);
  // })

  async function highlightRow(newMutation, oldMutation) {
    selectedLoading.value = true;

    // instead of using an API call, the data is in the table already, so just grab the right row from serverItems using the chr,pos,alt,phase as the ID and move on

    // const response = await VariantDataService.retrieveVariantFromCSV(variantStore.hash, select, newMutation.chr, newMutation.pos, newMutation.alt);

    // console.log(response.data);
    console.log(selected);

    console.log(serverItems.value.filter((v) => {
      if (
          v.chr == newMutation.chr && 
          v.pos == newMutation.pos && 
          v.alt == newMutation.alt && 
          v.phase == newMutation.phase
        ) {
          return true;
        }
    })[0])

    if (selected.value.length) {
      selected.value = [];
    }
    selected.value.push(serverItems.value.filter((v) => {
      if (
          v.chr == newMutation.chr && 
          v.pos == newMutation.pos && 
          v.alt == newMutation.alt && 
          v.phase == newMutation.phase
        ) {
          return true;
        }
    })[0])
    // if (response.data.length) {
    //   selected.value.push(response.data[0]);
    // } else {
    //   selected.value.push({});
    //   Object.keys(serverItems.value[0])
    //     .forEach((k, i) => {
    //       selected.value[selected.value.length - 1][k] = null
    //   })
    // }

    if (selected.value[0] == undefined) {
      selected.value[0] = {};
      Object.keys(serverItems.value[0]).forEach((k, i) => {
        selected.value[0][k] = null
      })
    }

    selected.value.map((x, i) => x.id = `selectedRow${i}`);
    serverItems.value = [ ...selected.value, ...serverItems.value.slice(1) ];

    console.log(...selected.value);
    console.log(serverItems.value);

    selectedLoading.value = false;
  }

  const pagination = ref({
    // sortBy: "ddg",
    // descending: false,
    page: 1,
    rowsPerPage: 10,
    rowsNumber: 0
  })

  // const itemsPerPage = ref(10);
  const search = ref("");
  const serverItems = ref([]);
  const loading = ref(true);
  const tableRef = ref();

  const headers = ref([]);
  const headersWoutID = computed(() => {
    return headers.value
      .filter(x => x.name != "id")
      .map(x => x.name)
  });

  function wrapCsvValue (val, formatFn, row) {
    let formatted = formatFn !== void 0
      ? formatFn(val, row)
      : val

    formatted = formatted === void 0 || formatted === null
      ? ''
      : String(formatted)

    formatted = formatted.split('"').join('""')
    /**
     * Excel accepts \n and \r in strings, but some other CSV parsers do not
     * Uncomment the next two lines to escape new lines
     */
    // .split('\n').join('\\n')
    // .split('\r').join('\\r')

    return `"${formatted}"`
  }

  function exportView() {
    // Clean this up and provide CSV parsing and stringify
    // naive encoding to csv format
    const content = [headers.value.map(col => wrapCsvValue(col.label))].concat(
      serverItems.value.map(row => headers.value.map(col => wrapCsvValue(
        typeof col.field === 'function'
          ? col.field(row)
          : row[ col.field === void 0 ? col.name : col.field ],
        col.format,
        row
      )).join(','))
    ).join('\r\n')

    const status = exportFile(
      `table-export_${variantStore.hash}.csv`,
      content,
      'text/csv'
    )

    if (status !== true) {
      $q.notify({
        message: 'Browser denied file download...',
        color: 'negative',
        icon: 'warning'
      })
    }
  }

  async function exportTable() {
    const response = await VariantDataService.downloadCSQ(variantStore.hash);
  }

  onMounted(() => {
    // Fires @request
    console.log("loading headers first");
    loadHeaders().then(() => {
      console.log("requesting server interaction");
      tableRef.value.requestServerInteraction();
    });
  })

  function insertSelected(array) {
    console.log(array);
    console.log(selected);

    if (!selected.value.length) {
      selected.value[0] = {};
      Object.keys(array[0])
        .forEach((k, i) => {
          selected.value[0][k] = null
      })
    };

    selected.value[0].id = "selectedRow";

    array.splice(0, 0, selected.value[0]);
    console.log(array);
    return array;
  }

  async function loadHeaders() {
    const response = await VariantDataService.retrieveCSVHeaders(variantStore.hash);

    console.log(response);

    headers.value = response.data.map(x => ({
      label: x.column_name,
      name: x.column_name,
      field: x.column_name,
      align: "end",
      sortable: true,
      type: x.data_type
    }));
  };

  async function loadItems(props) {
    // const { filter, getCellValue, pagination } = props;

    loading.value = true;

    const { page, rowsPerPage, sortBy, descending } = props.pagination;

    var sortByValue = [{
      key: sortBy,
      order: descending ? "desc" : "asc"
    }]

    if (!sortBy) {
      sortByValue = "";
    }

    console.log(variantStore.hash);

    const nonEssentialColumns = visibleColumns.value.filter((v, i) => {
      if (essentialColumns.includes(v)) {
        return false;
      }
    })

    const response = await VariantDataService.retrieveCSV(variantStore.hash, ["id", ...essentialColumns, ...nonEssentialColumns].join(","), page, rowsPerPage, sortByValue);

    console.log(response);

    // Create ID for row-key
    // response.data.items.map(x => {
    //   x.id = `${x.chr}_${x.pos}_${x.alt}`;
    // })

    // response.data.items = insertSelected(response.data.items);

    console.log(response.data.items);
    console.log(selected);

    // serverItems.value.splice(0, serverItems.value.length, ...response.data.items);

    if (! selected.value.length) {
      selected.value.push({});
      Object.keys(response.data.items[0])
        .forEach((k, i) => {
          selected.value[selected.value.length - 1][k] = null
      })
    }
    // if (response.data.length) {
    //   selected.value.push(response.data[0]);
    // }
    console.log(selected);

    selected.value.map((x, i) => x.id = `selectedRow${i}`);
    serverItems.value = [ ...selected.value, ...response.data.items ];

    pagination.value.page = page;
    pagination.value.rowsPerPage = rowsPerPage;
    pagination.value.sortBy = sortBy;
    pagination.value.descending = descending;
    pagination.value.rowsNumber = response.data.total;

    loading.value = false;
  }

  const colourMap = ['#67001f','#b2182b','#d6604d','#f4a582','#fddbc7','#f7f7f7','#d1e5f0','#92c5de','#4393c3','#2166ac','#053061'] // colourbrewer2 11-class RdBu

  function getColour(ddg) {
    return colourMap[5 + Math.round(ddg)]
    if (ddg < 0) return "#ea5a4f" // red
    if (0 < ddg && ddg < 1) return "#4fea8d" // green
    else if (1 < ddg) return "#eaa74f" // orange
    else return "transparent" // grey
  }

  function rowClicked(event, row) {
    console.log(visibleColumns.value);
    console.log(headers.value);
    console.log(headersWoutID.value);
    console.log(serverItems.value);

    console.log(variantStore.activeVariant);

    console.log(row);

    if (String(row.id).includes("selectedRow")) {
      return;
    }

    selectedLoading.value = true;

    variantStore.refreshActiveVariant({
      chr: row.chr,
      pos: row.pos,
      alt: row.alt,
      ref: row.ref,
      phase: row.phase,
      uniprot: row.uniprot,
      enst: row.enst,
      aa_pos: row.aa_pos,
      aa_ref: row.aa_ref,
      aa_alt: row.aa_alt,
      ddg: row.ddg,
      z: row.z,
    });

    // selected.value = row; // works?

    console.log(variantStore.activeVariant);
  }

  function badgeBg(key, value) {
    if (value < utilsStore.calibratedEnds[key][0]) return utilsStore.colourMap[key][0];
    if (value > utilsStore.calibratedEnds[key][utilsStore.colourMap[key].length - 1]) return utilsStore.colourMap[key][utilsStore.colourMap[key].length - 1];
    return utilsStore.colourMap[key][Math.floor(utilsStore.scaleRange(value, utilsStore.calibratedEnds[key][0], utilsStore.calibratedEnds[key][1], 0, utilsStore.colourMap[key].length + 1))]
  }
</script>

<style>
  #tableRef tr:first-child > td {
    background-color: #f9fad7;
    border-color: #cfd44e;
    border-top-style: dashed;
    border-bottom-style: dashed;
  }
</style>
