<template>
  <div id="histogramContainer">
    <v-chart class="chart" ref="histogramDiv" :manual-update="manualUpdate" @selectchanged="handleHighlight" :loading="isLoading"/>
    <q-resize-observer @resize="onResize" debounce="500"/>
    <q-inner-loading
      class="histogramLoading"
      :showing="noDataAvailable"
      >
      <img
        class="stab-logo"
        alt="Stability Sort logo"
        src="/logo.svg"
        style="width: 100px; height: 100px"
        >
        <p class="text-subtitle2 text-center q-px-xl q-pt-md">No Gnomad v3.1.2 missense data is available for this variant.</p>
    </q-inner-loading>
    <q-inner-loading
      class="histogramLoading waitingForVariant"
      :showing="waitingForVariant"
      >
      <img
        class="stab-logo"
        alt="Stability Sort logo"
        src="/logo.svg"
        style="width: 100px; height: 100px"
        >
        <p class="text-subtitle2 text-center q-px-xl q-pt-md">Please select a variant from the table.</p>
    </q-inner-loading>
    <q-inner-loading
      class="histogramLoading waitingForVariant"
      :showing="noVariantForUniprot"
      >
      <img
        class="stab-logo"
        alt="Stability Sort logo"
        src="/logo.svg"
        style="width: 100px; height: 100px"
        >
        <p class="text-subtitle2 text-center q-px-xl q-pt-md">No variants are available for this uniprot ID. Please select another variant from the table.</p>
    </q-inner-loading>
  </div>
</template>

<script setup>
  import { onMounted, ref, computed, watch, provide } from 'vue'
  import VariantDataService from "../../services/VariantDataService";
  // import HeatmapChart from "echarts/charts";
  import * as echarts from "echarts";
  import VChart, { THEME_KEY } from "vue-echarts";
  import ecStat, { histogram } from "echarts-stat";
  // import { variantStore } from "pages/VariantsListDisplayStore.js";
  import { useVariantStore } from "stores/variant.js";
  import { useAppStore } from "stores/app.js";
  import { useUtilsStore } from "stores/utils.js";

  const variantStore = useVariantStore();
  const appStore = useAppStore();
  const utilsStore = useUtilsStore();

  echarts.registerTransform(ecStat.transform.histogram);

  // const emit = defineEmits(["response"]);

  const props = defineProps(["select"])
  // const { uniprotID, select, test } = defineProps({
  //   uniprotID: {
  //     type: String,
  //     required: true
  //   },
  //   select: {
  //     type: String,
  //     required: true
  //   },
  //   test: {
  //     type: String
  //   }
  // })

  const select = props.select;
  // const selectedMutation = ref(props.selectedMutation);

  const noDataAvailable = ref(false);
  const waitingForVariant = ref(true);
  const noVariantForUniprot = ref(false);

  watch(() => variantStore.activeVariant, updateDataset);

  async function updateDataset(newMutation, oldMutation) {
    console.log(oldMutation);
    console.log(newMutation);
    // console.log(newMutation.value.aa_ref);
    // console.log(newMutation.aa_ref);

    isLoading.value = true;
    waitingForVariant.value = false;
    noDataAvailable.value = false;
    noVariantForUniprot.value = false;

    // console.log(Array.from(appStore.uniprotMap.entries()).map(x => x[0]));
    // console.log(appStore.uniprotMap.value);
    // if (! Array.from(appStore.uniprotMap.entries()).map(x => x[0]).includes(newMutation.uniprot)) {
    console.log(newMutation.ddg)
    if (newMutation.ddg == undefined || newMutation.ddg == "") {
      console.log("no variant for this uniprot ID");
      isLoading.value = false;
      noVariantForUniprot.value = true;
      return;
    }

    // if (newMutation.uniprotID == null) {
    //   const response = await VariantDataService.retrieveVariantInfo(variantStore.hash, newMutation.chr, newMutation.pos, newMutation.alt);

    //   console.log(response);

    //   newMutation.uniprotID = [...new Set(response.data.map(x => x.uniprot))][0];
    // }

    const response = await VariantDataService.retrieveDDGForUniprot(newMutation.uniprot, "ddg");

    console.log(response);

    datasetSource.value = response.data.map(x => x["ddg"]);

    console.log(datasetSource.value);

    if (datasetSource.value.length <= 1) {
      noDataAvailable.value = true;
    } else {
      histogramDiv.value.setOption({
        yAxis: {
          name: `Count of missense variants in\n${variantStore.activeVariant.uniprot}`,
        },
        series: {
          data: histogramBins.value.data,
          markLine: {
            data: [{
              xAxis: variantStore.activeVariant.ddg
            }]
          }
        }
      });
    }

    isLoading.value = false;
  }

  function handleHighlight(event) {
    console.log("handling highlight");
    console.log(event);
  }

  const manualUpdate = ref(true);
  const isLoading = ref(true);
  // const option = ref({});
  // const quiltDivContainer = ref(null);
  const histogramDiv = ref(null);
  // var quiltChart = echarts.init(quiltDiv.value);
  // const quiltDivNav = ref(null);

  // window.onresize = function() {
  //   quiltChart.resize();
  // };

  function onResize(size) {
    // size = {width: 20, height:50} // in px
    console.log(size);

    histogramDiv.value.resize();
  }

  const datasetSource = ref([0]);
  const histogramBins = computed(() => ecStat.histogram(datasetSource.value, "sturges"));

  utilsStore.calibratedEnds.ddg = utilsStore.calibrateEnds(Math.min(histogramBins.value.bins[0].x0), Math.max(histogramBins.value.bins[histogramBins.value.bins.length-1].x1));

  watch(histogramBins, () => {
    console.log("hhhhhhhh");
    utilsStore.calibratedEnds.ddg = utilsStore.calibrateEnds(Math.min(histogramBins.value.bins[0].x0), Math.max(histogramBins.value.bins[histogramBins.value.bins.length-1].x1));
    histogramDiv.value.setOption({
      visualMap: {
        min: utilsStore.calibratedEnds.ddg[0],
        max: utilsStore.calibratedEnds.ddg[1],
        inRange: {
          color: utilsStore.colourMap.ddg
        }
      }
    });
  })

  console.log(histogramBins.value);
  console.log(histogramBins.value.bins);
  console.log(histogramBins.value.bins[0].x0);
  console.log(histogramBins.value.bins.length);
  console.log(histogramBins.value.bins[histogramBins.value.bins.length-1].x1);
  console.log(variantStore.activeVariant);
  console.log(variantStore.activeVariant != undefined);
  // console.log(variantStore.activeVariant.uniprot);
  // console.log(variantStore.activeVariant.ddg);

  // function selectColours(rangeMin, rangeMax, colourRange, step = 1, colourMin = -5, colourMax = 5, centerIndex = 5) {
  //   rangeMin = Math.abs(Math.max(Math.floor(rangeMin / step) * step, colourMin));
  //   rangeMax = Math.abs(Math.min(Math.ceil(rangeMax / step) * step, colourMax));

  //   return colourMap.slice(centerIndex - rangeMin, centerIndex + rangeMax + 1)
  // }

  // const colourMap = ['#67001f','#b2182b','#d6604d','#f4a582','#fddbc7','#f7f7f7','#d1e5f0','#92c5de','#4393c3','#2166ac','#053061'] // colourbrewer2 11-class RdBu

  onMounted(async () => {
    histogramDiv.value.setOption({
      textStyle: {
        fontSize: 10,
      },
      progressive: 0,
      animation: false,
      tooltip: {
        position: "top",
        backgroundColor: "rgba(255, 255, 255, 0.8)",
      },
      visualMap: {
        dimension: 0,
        show: false,
        min: utilsStore.calibratedEnds.ddg[0],
        max: utilsStore.calibratedEnds.ddg[1],
        inRange: {
          color: utilsStore.colourMap.ddg
        }
      },
      xAxis: {
        type: "value",
        // min: -2,
        // max: 2,
        interval: 1,
        splitArea: {
          show: true
        },
        axisLabel: {
          fontSize: 10,
        },
        // axisTick: {
        //   alignWithLabel: true
        // },
        name: "ddG",
        // name: "\u0394\u0394G",
        nameLocation: "middle",
        nameGap: 25
      },
      yAxis: {
        name: "",
      },
      series: [
        {
          type: "bar",
          data: histogramBins.value.data,
          barWidth: "99.5%",
          encode: { x: 0, y: 1, itemName: 4 },
          // selectedMode: "single",
          // select: {
          //   itemStyle: {
          //     shadowBlur: 10,
          //     shadowOffsetX: 0,
          //     shadowColor: "rgba(0, 0, 0, 0.5)"
          //   }
          // },
          label: {
            show: false
          },
          emphasis: {
            itemStyle: {
              shadowBlur: 10,
              shadowOffsetX: 0,
              shadowColor: "rgba(0, 0, 0, 0.5)"
            }
          },
          itemStyle: {
            borderColor: "transparent",
            shadowColor: "transparent",
            // borderRadius: 2
          },
          markLine: {
            data: [{
              xAxis: 0
            }],
            symbol: "none",
            precision: 4,
            width: 4,
            // silent: true,
            lineStyle: {
              type: "solid",
              color: "#FF0000"
            }
          }
        //   label: false,
        //   silent: true,
      },
      ]
    });

    isLoading.value = false;
  })
</script>

<style scoped>
  .chart {
    height: 390px;
  }

  #histogramContainer {
    position: relative;
  }

  .histogramLoading {
    position: absolute;
    /* background-color: rgba(255, 255, 255, 0.3); */
    top:0;
    left:0;
    width:100%;
    height:100%;
  }

  .waitingForVariant {
    background-color: rgba(255, 255, 255, 1);
  }
</style>