<template>
  <div class="text-center q-pa-md flex flex-center">
    <p class="text-subtitle2">Your data is being processed.</p>
    <br/>
    <p class="text-subtitle2">Checking again in {{ waitSeconds > 0 ? waitSeconds : "0" }} second{{ waitSeconds == 1 ? "" : "s" }}.</p>
  </div>
</template>

<script setup>
  import { ref, onMounted, onBeforeMount } from 'vue';
  // import { useRouter } from 'vue-router';
  import VariantDataService from "../../services/VariantDataService";
  // import { variantStore } from "pages/VariantsListDisplayStore.js";
  import { useVariantStore } from "stores/variant.js";

  const variantStore = useVariantStore();

  // const router = useRouter();

  const waitSeconds = ref(20);

  await variantStore.checkHashReady();

  if (! variantStore.hashReady) {
    console.log("hash not ready, counting down!")
    const countDown = setInterval(() => {
      console.log(waitSeconds.value);
      waitSeconds.value = waitSeconds.value - 1;
      if (waitSeconds.value <= 0) {
        waitSeconds.value = 20;
        variantStore.checkHashReady(countDown);
      }
    }, 1000);
  }
</script>
