<template>
  <router-view />
</template>

<script setup>
  // import VariantDataService from "../services/VariantDataService.js";
  // import state from "pages/AppStore.js";
  import { useAppStore } from "stores/app.js";

  const appStore = useAppStore();

  if (appStore.uniprotMap == null || appStore.uniprotMap.size == 0) {
    appStore.refreshUniprotMap();
  }

  // if (state.uniprotMap == null || state.uniprotMap.size == 0) {
  //   VariantDataService.getUniprotMap()
  //     .then(response => {
  //       const groupedMap = new Map();
  //       for (const e of response.data) {
  //           if (!groupedMap.has(e.uniprot)) {
  //               groupedMap.set(e.uniprot, []);
  //           }
  //           groupedMap.get(e.uniprot).push(e.SYMBOL);
  //       }

  //       state.uniprotMap = groupedMap;
  //     });
  // };
</script>
