<template>
    <!-- :mini="appBarOverlay && miniState"
    @mouseover="miniState = false"
    @mouseout="miniState = true"
    :overlay="appBarOverlay" -->
  <q-drawer
    v-model="drawer"
    show-if-above

    :mini="showAppBar"
    @mouseover="miniState = false"
    @mouseout="miniState = true"
    :mini-to-overlay="appBarOverlay"

    :width="230"
    :breakpoint="600"
    bordered
    :class="$q.dark.isActive ? 'bg-grey-9' : 'bg-grey-3'"
  >

    <q-scroll-area
      class="fit"
      :horizontal-thumb-style="{ opacity: 0 }"
    >
      <q-list padding>
        <q-item to="/" clickable v-ripple>
          <q-item-section avatar>
            <q-icon name="img:/logo.svg"/>
          </q-item-section>
          <q-item-section>
            Stability Sort
          </q-item-section>
          <q-item-section avatar>
            <q-checkbox
              v-model="appBarOverlay"
              checked-icon="radio_button_unchecked"
              unchecked-icon="radio_button_checked"
              style="height: 100%; width: 100%; justify-content: center"
              size="lg"
              dense
              />
          </q-item-section>
        </q-item>

        <q-separator spaced></q-separator>

        <q-item clickable v-ripple>
          <q-item-section avatar>
            <q-icon name="inbox" />
          </q-item-section>
          <q-item-section>
            Protein Visualisation
          </q-item-section>
          <q-menu
            transition-show="jump-right"
            transition-hide="jump-left"
            anchor="top right"
            self="top left"
            >
            <div class="q-pa-md">
              <SelectProtein />
            </div>
          </q-menu>
        </q-item>

        <q-item clickable v-ripple>
          <q-item-section avatar>
            <q-icon name="star" />
          </q-item-section>
          <q-item-section>
            Variants Analysis
          </q-item-section>
          <q-menu
            transition-show="jump-right"
            transition-hide="jump-left"
            anchor="top right"
            self="top left"
            >
            <div class="q-pa-md">
              <UploadVCF />
            </div>
          </q-menu>
        </q-item>

        <q-separator inset spaced></q-separator>

        <q-item to="/download" clickable v-ripple>
          <q-item-section avatar>
            <q-icon name="file_download" />
          </q-item-section>
          <q-item-section>
            Download Predictions
            <q-tooltip
              anchor="center right"
              self="center left"
              >
              4.7GB
            </q-tooltip>
          </q-item-section>
        </q-item>

        <q-item href="https://gitlab.com/Maryam-May/VueStabilitySort" clickable v-ripple>
          <q-item-section avatar>
            <q-icon name="fa-brands fa-square-gitlab" />
          </q-item-section>
          <q-item-section>
            <span class="text-weight-bold text-overline text-grey-8">
              v{{ version }}
            </span>
          </q-item-section>
        </q-item>

      </q-list>
    </q-scroll-area>

    <!--
      in this case, we use a button (can be anything)
      so that user can switch back
      to mini-mode
    -->
    <!-- <div class="q-mini-drawer-hide absolute q-mr-sm" style="top: 12px; right: 0px">
      <q-checkbox
        class="q-mini-drawer-hide"
        v-model="appBarOverlay"
        checked-icon="radio_button_unchecked"
        unchecked-icon="radio_button_checked"
      />
    </div> -->
  </q-drawer>
</template>

<script setup>
  import { ref, computed } from "vue";
  import { useRouter, useRoute } from "vue-router";
  import SelectProtein from "../components/SelectProtein.vue";
  import UploadVCF from "../components/UploadVCF.vue";
  import { version } from "../../package.json";

  const router = useRouter();

  // Hard reload instead of breaking
  router.onError((error, to) => {
    if (error.message.includes('Failed to fetch dynamically imported module') || error.message.includes("Importing a module script failed")) {
      window.location = to.fullPath
    }
  })

  const miniState = ref(true);
  const drawer = ref(false);
  const appBarOverlay = ref(true);
  const showAppBar = computed(() => appBarOverlay.value && miniState.value);

  function drawerClick(e) {
    // if in "mini" state and user
    // click on drawer, we switch it to "normal" mode
    if (miniState.value) {
      miniState.value = false;

      // notice we have registered an event with capture flag;
      // we need to stop further propagation as this click is
      // intended for switching drawer to "normal" mode only
      e.stopPropagation()
    }
  }

  const proteinExpanded = ref(false);
</script>

<style>
  .q-scrollarea__content {
    width: 100%;
  }

  .q-drawer--mini .q-mini-drawer-hide.row.inline {
    display: none;
  }
</style>
