<template>
  <div class="q-pa-sm">
    <!-- <div>
      <q-btn
        v-for="icon in icons"
        :key="icon"
        :icon="icon"
        variant="text"
      ></q-btn>
    </div> -->

    <!-- <div class="text-subtitle">
      This software is provided free of charge. Something about the license here probably? Produced at <a href="https://jcsmr.anu.edu.au">
        <q-icon name="img:/ANULogo.svg" style="margin-top: -2px"/>
        JCSMR ANU
      </a>.
    </div>

    <q-separator spaced></q-separator> -->

    <div>
      <img class="rounded-borders q-mr-xs" src="/aboriginalFlag.svg" alt="Image of the aboriginal flag." id="flag"/>
      This software was produced and is served on the country of Ngunnawal and Ngambri people. We pay respect to their leaders: past, present, and emerging. Sovereignty was never ceded.
    </div>
  </div>
</template>

<script setup>
  const icons = [
    "facebook"
  ]
</script>

<style scoped>
  #flag {
    height: 15px;
  }
</style>