<template>
  <q-layout view="lHh Lpr fff">
    <AppBar />

    <q-page-container>
      <router-view />
    </q-page-container>

    <q-footer bordered>
      <FooterLayout />
    </q-footer>
  </q-layout>
</template>

<script setup>
  import { ref } from 'vue';
  import FooterLayout from 'layouts/FooterLayout.vue';
  import AppBar from 'layouts/AppBar.vue';

  const leftDrawerOpen = ref(false);
</script>

<style>
  .q-page-container {
    transition: padding-left .15s cubic-bezier(.07,.95,0,1);
  }
</style>
