<template>
  <div class="fullscreen bg-blue text-white text-center q-pa-md flex flex-center">
    <div class="text-h4">
      <div v-if="waitSeconds > 0" >
        Your download will start in {{ waitSeconds }} second{{ waitSeconds == 1 ? "" : "s" }}.
      </div>

      <div v-else>
        <div class="q-mb-xl">
          Your download has started.
        </div>

        <div class="q-mb-sm text-h5" style="opacity: 0.4">
          If your download has not started, please click this button.
        </div>

        <q-btn
          color="white"
          text-color="blue"
          unelevated
          label="Download"
          no-caps
          @click="startDownload()"
        />
      </div>
    </div>
  </div>
</template>

<script setup>
  import VariantDataService from "../../services/VariantDataService";
  import { ref, onMounted } from "vue";

  const waitSeconds = ref(5);

  async function startDownload() {
    console.log("starting Download.");
    const response = await VariantDataService.downloadData();
  }

  onMounted(() => {
    const countDown = setInterval(() => {
      waitSeconds.value = waitSeconds.value - 1;
      if (waitSeconds.value <= 0) {
        startDownload();
        clearInterval(countDown);
      }
    }, 1000);
  })

</script>
