<template>
  <q-page class="flex-center column">
    <transition
    appear
    enter-active-class="animated fadeIn"
    leave-active-class="animated fadeOut"
    >
      <img
        class="stab-logo"
        alt="Stability Sort logo"
        src="logo.svg"
        style="width: 200px; height: 200px"
        >
    </transition>

    <q-separator></q-separator>

    <h1 class="q-mt-md q-mb-sm">Stability Sort</h1>
    <!-- <div class="text-h3 text-grey-6 q-mt-none">(In Development)</div> -->

    <q-separator></q-separator>

    <div class="row q-mt-lg card-parent  items-center q-gutter-x-md" style="max-width: 80%">
      <q-card class="col">
        <q-card-section>
          <div class="text-h6">Please select a protein:</div>
          <div class="text-subtitle">Such as ITK (<router-link to="/protein/Q08881">Q08881</router-link>)</div>
        </q-card-section>
        <q-separator></q-separator>
        <q-card-actions>
          <SelectProtein />
          <!-- <form @submit="submitProteinSelection" class="row">
            <q-select
              dense
              filled
              v-model="proteinSelection"
              use-input
              input-debounce="500"
              label="Uniprot ID"
              :options="proteinOptions"
              @filter="filterTextInput"
              class="col"
              >
              <template #no-option>
                <q-item>
                  <q-item-section class="text-grey">
                    No results
                  </q-item-section>
                </q-item>
              </template>
            </q-select>

            <q-btn
              dense
              flat
              type="submit"
              icon="chevron_right"
              class="col-auto"
              ></q-btn>
          </form> -->
        </q-card-actions>
      </q-card>

      <div class="col-1" style="text-align: center;">
        <q-separator class="q-px-sm" size="2px" spaced/>
        <span class="text-separator text-weight-bold">OR</span>
        <q-separator class="q-px-sm" size="2px" spaced/>
      </div>
      <!-- <q-separator vertical spaced></q-separator> -->

      <q-card class="col">
        <q-card-section>
          <div class="text-h6">Please upload a VCF:</div>
          <div class="text-subtitle">Or use this sample VCF (<router-link to="/analyse/ec3456ae47aaa2d03432b9e99fe5e604">NA12878</router-link>)</div>
        </q-card-section>
        <q-separator></q-separator>
        <q-card-actions>
          <UploadVCF />
        </q-card-actions>
      </q-card>
    </div>
  </q-page>
</template>

<script setup>
  import { Transition } from 'vue';
  import SelectProtein from '../components/SelectProtein.vue';
  import UploadVCF from '../components/UploadVCF.vue';

  // function onClick(event) {

  // }
</script>

<style scoped>
  .stab-logo {
    /* transition: all 0.5s ease-in-out; */
    animation: rotate 10s ease-in-out infinite;
  }

  @keyframes rotate {
    92% {
      transform: rotate(0deg);
    }
    95% {
      transform: rotate(-5deg);
    }
    99% {
      transform: rotate(365deg);
      /* transform: rotate(120deg); */
    }
    100% {
      transform: rotate(360deg);
      /* transform: rotate(120deg); */
    }
  }

  .card-parent > .q-card {
    width: 300px;
  }

  /* .q-page {
    transition: padding-left .15s cubic-bezier(.07,.95,0,1);
  } */
</style>
