<template>
  <q-page
    padding
    id="protein-display"
    class="row justify-center"
  >
    <!-- <div class="col-12 col-sm-3"></div> -->
    <div class="modules col-12 col-md column">

      <div class="row q-col-gutter-x-md">
        <div class="col-1 column vert module-title">
          <h5>Protein Visualisation</h5>
        </div>

        <div class="col">
          <q-card>
            <q-card-section class="q-pa-sm">
              <div class="row q-pa-none items-center">
                <div class="text-h5 col widget-title">Wildtype</div>
                <!-- <q-btn class="col-auto" disable label="what"></q-btn> -->
                <div class="col-auto">
                  <!-- <q-select
                    v-model="a"
                    options=""
                    label="Wildtype"
                    filled
                    dense
                    class="q-pa-none"
                    style="opacity: 0; cursor: default"
                    /> -->
                  <q-btn
                    @click="takePhotograph"
                    icon="camera"
                    class="q-mr-sm"
                    >
                    <q-tooltip>
                      Capture Image of Protein
                    </q-tooltip>
                  </q-btn>
                  <q-toggle
                    v-model="cameraLock"
                    checked-icon="videocam"
                    unchecked-icon="videocam_off"
                    >
                    <q-tooltip>
                      Camera Lock
                    </q-tooltip>
                  </q-toggle>
                </div>
              </div>
            </q-card-section>
            <Suspense>
              <MolStar :photograph="photograph"></MolStar>

              <template #fallback>
                <q-skeleton animation="blink" type="rect" height="265px"/>
              </template>
            </Suspense>
          </q-card>
        </div>

        <div class="col">
          <q-card>
            <q-card-section class="q-pa-sm">
              <div class="row q-pa-none items-center">
                <div class="text-h5 col widget-title">Mutation</div>
                <div class="col-auto">
                  <q-select
                    v-model="mutModel"
                    :options="mutModelOptions"
                    filled
                    dense
                    hide-bottom-space
                    class="q-pa-none"
                    >
                    <template #before>
                      <q-icon :name="mutModel.icon">
                        <q-tooltip v-if="mutModel.iconTooltip">{{ mutModel.iconTooltip}}</q-tooltip>
                      </q-icon>
                    </template>
                    <!-- <template #selected-item="scope">
                      <q-icon :name="scope.opt.icon">
                        <q-tooltip v-if="scope.opt.iconTooltip">{{ scope.opt.iconTooltip}}</q-tooltip>
                      </q-icon>
                      {{ scope.opt.label }}
                    </template> -->
                    <template #option="scope">
                      <q-item v-bind="scope.itemProps">
                        <q-item-section>
                          <q-item-label>{{ scope.opt.label }}</q-item-label>
                        </q-item-section>
                        <q-item-section avatar>
                          <q-icon :name="scope.opt.icon">
                            <q-tooltip v-if="scope.opt.iconTooltip">{{ scope.opt.iconTooltip}}</q-tooltip>
                          </q-icon>
                        </q-item-section>
                      </q-item>
                    </template>
                  </q-select>
                </div>
                <!-- <q-btn-dropdown label="what">
                  <q-list>
                    <q-item class="q-pb-none" clickable v-close-popup>
                      <q-item-section>
                        <q-item-label>PyMol</q-item-label>
                      </q-item-section>
                      <q-item-section side>
                        <q-icon name="warning_amber" color="amber">
                          <q-tooltip>This is a naive amino acid substitution. Proceed with caution.</q-tooltip>
                        </q-icon>
                      </q-item-section>
                    </q-item>
                    <q-item class="q-pb-none" clickable v-close-popup>
                      <q-item-section>
                        <q-item-label>ESMFold</q-item-label>
                      </q-item-section>
                    </q-item>
                  </q-list>
                </q-btn-dropdown> -->
              </div>
            </q-card-section>
            <Suspense>
              <MolStarMut :cameraLock="cameraLock"></MolStarMut>

              <template #fallback>
                <q-skeleton animation="blink"/>
              </template>
            </Suspense>
          </q-card>
        </div>
      </div>

      <div class="row">
        <div class="col-1 column vert module-title">
          <h5>DDG of Protein Positions</h5>
        </div>

        <div class="col">
          <Suspense>
            <QuiltPlot :select="SQLselect"></QuiltPlot>

            <template #fallback>
              <q-markup-table dense>
                <tbody>
                  <tr v-for="n in 10" :key="n">
                    <td v-for="i in 10" :key="i">
                      <q-skeleton animation="blink" type="rect" size="20px"/>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-left">
                      <q-skeleton animation="blink" type="rect" height="15" width="250px"/>
                    </td>
                  </tr>
                </tbody>
              </q-markup-table>
            </template>
          </Suspense>
        </div>
      </div>

      <div class="row">
        <div class="col-1 column vert module-title">
          <h5>Gnomad Table</h5>
        </div>

        <div class="col">
          <Suspense>
            <GnomadTable :select="gnomadSelect"></GnomadTable>

            <template #fallback>
              <q-markup-table>
                <thead>
                  <tr>
                    <th class="text-left" style="width: 150px">
                      <q-skeleton animation="blink" type="text" />
                    </th>
                    <th class="text-right">
                      <q-skeleton animation="blink" type="text" />
                    </th>
                    <th class="text-right">
                      <q-skeleton animation="blink" type="text" />
                    </th>
                    <th class="text-right">
                      <q-skeleton animation="blink" type="text" />
                    </th>
                    <th class="text-right">
                      <q-skeleton animation="blink" type="text" />
                    </th>
                    <th class="text-right">
                      <q-skeleton animation="blink" type="text" />
                    </th>
                  </tr>
                </thead>

                <tbody>
                  <tr v-for="n in 5" :key="n">
                    <td class="text-left">
                      <q-skeleton animation="blink" type="text" width="85px" />
                    </td>
                    <td class="text-right">
                      <q-skeleton animation="blink" type="text" width="50px" />
                    </td>
                    <td class="text-right">
                      <q-skeleton animation="blink" type="text" width="35px" />
                    </td>
                    <td class="text-right">
                      <q-skeleton animation="blink" type="text" width="65px" />
                    </td>
                    <td class="text-right">
                      <q-skeleton animation="blink" type="text" width="25px" />
                    </td>
                    <td class="text-right">
                      <q-skeleton animation="blink" type="text" width="85px" />
                    </td>
                  </tr>
                </tbody>
              </q-markup-table>
            </template>
          </Suspense>
        </div>
      </div>
    </div>

    <div id="protein-description" class="col-12 col-md-3 q-pl-md">
        <Suspense>
          <ProteinDescriptionOld></ProteinDescriptionOld>

          <template #fallback>
            <q-card class="q-pa-md">
              <q-skeleton animation="blink" type="text"/>
              <q-skeleton animation="blink" type="text" width="80%"/>
              <q-skeleton animation="blink" type="text" width="90%"/>
            </q-card>
          </template>
        </Suspense>
    </div>
    <!-- <Suspense>
      <ProteinDescription :uniprotID=uniprotID></ProteinDescription>

      <template #fallback>
        <q-card class="q-pa-md">
          <q-skeleton animation="blink" type="text"/>
          <q-skeleton animation="blink" type="text" width="80%"/>
          <q-skeleton animation="blink" type="text" width="90%"/>
        </q-card>
      </template>
    </Suspense> -->
  </q-page>
</template>

<script setup>
  import VariantDataService from "../../services/VariantDataService";

  import { ref, reactive, computed } from "vue";
  import { useRouter, useRoute } from "vue-router";

  // import ProteinDescription from "../components/ProteinDescription.vue";
  import ProteinDescriptionOld from "../components/ProteinDescriptionOld.vue";
  import QuiltPlot from "../components/QuiltPlot.vue";
  import GnomadTable from "../components/GnomadTable.vue";
  import MolStar from "../components/MolStar.vue";
  import MolStarMut from "../components/MolStarMut.vue";

  // import { state } from "pages/ProteinDisplayStore.js";
  import { useProteinStore } from "stores/protein.js";

  const proteinStore = useProteinStore();

  const router = useRouter();
  const route = useRoute();

  proteinStore.uniprotID = route.params.uniprot;

  VariantDataService.getWtSequence(proteinStore.uniprotID)
    .then(response => {
      proteinStore.wildtypeSequence = response.data[0].sequence;
    });

  console.log(proteinStore);

  // const mutModel = ref("PyMol");
  const mutModel = ref({
      label: "PyMol",
      icon: "warning",
      iconTooltip: "Naive substitution of amino acid"
    });
  const mutModelOptions = [
    {
      label: "PyMol",
      icon: "warning",
      iconTooltip: "Naive substitution of amino acid"
    },
    {
      label: "ESMFold",
      icon: "disabled_by_default",
      iconTooltip: "Not yet implemented",
      disable: true
    }
  ];

  function getMutModelOptions(opt, label) {
    return opt.find(x => x.label == label).icon;
  };
  // const currentMutModelOptions = computed(() => {
  //   return mutModelOptions.find(x => x.label == mutModel.value);
  // });

  // Hard reload instead of breaking
  router.onError((error, to) => {
    if (error.message.includes('Failed to fetch dynamically imported module') || error.message.includes("Importing a module script failed")) {
      window.location = to.fullPath
    }
  })

  const cameraLock = ref(false);
  const photograph = ref(0);

  function takePhotograph(event) {
    photograph.value = new Date();
    // MolStar.molStarClicked(event);
  }

  const SQLselect = ref("aa_ref,aa_pos,aa_alt,ddg,delta_score,score");
  const gnomadSelect = ref("chr,ref,pos,alt,AC,AN,AF,nhomalt,chain,aa_ref,aa_pos,aa_alt,ddg,delta_score,score,SIFT,PolyPhen");
</script>

<style scoped>
  .modules > .row {
    width: 100%;
    padding-bottom: 20px;
  }

  .column.vert {
    /* transform: rotate(-90deg); */
    writing-mode: sideways-lr;
    align-items: center;
    justify-content: center;
  }
</style>

<style lang="scss">
  // #protein-description {
  //   @media (max-width: $breakpoint-md-min) {
  //     order: -1;
  //     padding-bottom: 20px;
  //   }
  // }

  .module-title {
    @media (max-width: $breakpoint-xs-max) {
      display: none;
    }
  }

  .widget-title {
    text-overflow: ellipsis;
    overflow: hidden;
  }

  // Really bad fix for MolStar aa description
  .msp-highlight-toast-wrapper {
    display: none;
  }
</style>
