<template>
  <q-page
    padding
    style="padding-left: 15%; padding-right: 15%;"
    class="column"
  >
  <Suspense>
    <ProteinDescriptionOld :uniprotID=route.params.uniprot></ProteinDescriptionOld>

    <template #fallback>
      <q-card class="q-pa-md">
        <q-skeleton animation="blink" type="text"/>
        <q-skeleton animation="blink" type="text" width="80%"/>
        <q-skeleton animation="blink" type="text" width="90%"/>
      </q-card>
    </template>
  </Suspense>
  <!-- class="column q-mx-md" -->
    <!-- <div class="row">
      <div class="col">
        <Suspense>
          <ProteinDescriptionOld :uniprotID=route.params.uniprot></ProteinDescriptionOld>

          <template #fallback>
            <q-card class="q-pa-md">
              <q-skeleton animation="blink" type="text"/>
              <q-skeleton animation="blink" type="text" width="80%"/>
              <q-skeleton animation="blink" type="text" width="90%"/>
            </q-card>
          </template>
        </Suspense>
      </div>
    </div> -->
    <div class="row">
      <div class="col-1 column vert">
        <h5>Protein Visualisation</h5>
      </div>
      <div class="col">
        <h5 class="q-my-md">Wildtype</h5>
          <!-- <iCn3D></iCn3D> -->

          <!-- <div id="icn3dwrap"></div> -->

          <!-- <iframe src={{ wtProteinViewSource }} width="320" height="320"></iframe> -->
          <!-- <iframe sandbox="allow-scripts allow-forms allow-pointer-lock allow-same-origin" :src="wtProteinViewSource" width="320" height="320"></iframe> -->
          <Suspense>
            <MolStar :uniprotID=route.params.uniprot :selectedMutation="selectedMutation"></MolStar>

            <template #fallback>
              <q-skeleton animation="blink"/>
            </template>
          </Suspense>
      </div>
      <div class="col">
        <h5 class="q-my-md">Mutation</h5>
        <!-- <p>{{ aa_ref }}, {{ aa_alt }} at {{ aa_pos }}</p> -->
        <!-- <iframe sandbox="allow-scripts allow-forms allow-pointer-lock allow-same-origin" :src="mutProteinViewSource" width="320" height="320"></iframe> -->
      </div>
    </div>
    <div class="row">
      <div class="col-1 column vert">
        <h5>DDG of Protein Positions</h5>
      </div>
      <div class="col">
        <Suspense>
          <QuiltPlot :uniprotID=route.params.uniprot :select="SQLselect" :selectedMutation="selectedMutation" @response="processQuiltClick"></QuiltPlot>

          <template #fallback>
            <q-markup-table dense>
              <tbody>
                <tr v-for="n in 10" :key="n">
                  <td v-for="i in 10" :key="i">
                    <q-skeleton animation="blink" type="rect" size="20px"/>
                  </td>
                </tr>
                <tr>
                  <td class="text-left">
                    <q-skeleton animation="blink" type="rect" height="15" width="250px"/>
                  </td>
                </tr>
              </tbody>
            </q-markup-table>
          </template>
        </Suspense>
      </div>
    </div>
    <div class="row">
      <div class="col-1 column vert">
        <h5>Gnomad Table</h5>
      </div>
      <div class="col">
        <Suspense>
          <GnomadTable :uniprotID=route.params.uniprot :select="gnomadSelect" :selectedMutation="selectedMutation" @selectedRow="processRowSelected"></GnomadTable>

          <template #fallback>
            <q-markup-table>
              <thead>
                <tr>
                  <th class="text-left" style="width: 150px">
                    <q-skeleton animation="blink" type="text" />
                  </th>
                  <th class="text-right">
                    <q-skeleton animation="blink" type="text" />
                  </th>
                  <th class="text-right">
                    <q-skeleton animation="blink" type="text" />
                  </th>
                  <th class="text-right">
                    <q-skeleton animation="blink" type="text" />
                  </th>
                  <th class="text-right">
                    <q-skeleton animation="blink" type="text" />
                  </th>
                  <th class="text-right">
                    <q-skeleton animation="blink" type="text" />
                  </th>
                </tr>
              </thead>

              <tbody>
                <tr v-for="n in 5" :key="n">
                  <td class="text-left">
                    <q-skeleton animation="blink" type="text" width="85px" />
                  </td>
                  <td class="text-right">
                    <q-skeleton animation="blink" type="text" width="50px" />
                  </td>
                  <td class="text-right">
                    <q-skeleton animation="blink" type="text" width="35px" />
                  </td>
                  <td class="text-right">
                    <q-skeleton animation="blink" type="text" width="65px" />
                  </td>
                  <td class="text-right">
                    <q-skeleton animation="blink" type="text" width="25px" />
                  </td>
                  <td class="text-right">
                    <q-skeleton animation="blink" type="text" width="85px" />
                  </td>
                </tr>
              </tbody>
            </q-markup-table>
          </template>
        </Suspense>
      </div>
    </div>
    <!-- <Suspense>
      <ProteinDescription :uniprotID=route.params.uniprot></ProteinDescription>

      <template #fallback>
        <q-card class="q-pa-md">
          <q-skeleton animation="blink" type="text"/>
          <q-skeleton animation="blink" type="text" width="80%"/>
          <q-skeleton animation="blink" type="text" width="90%"/>
        </q-card>
      </template>
    </Suspense> -->
  </q-page>
</template>

<script setup>
  import VariantDataService from "../../services/VariantDataService";

  import { onServerPrefetch, onMounted, ref, defineAsyncComponent  } from 'vue'
  import { useRouter, useRoute } from 'vue-router'

  // import Plotly from 'plotly.js-dist'

  // import axios from "axios";

  import ProteinDescription from "../components/ProteinDescription.vue";
  import ProteinDescriptionOld from "../components/ProteinDescriptionOld.vue";
  import QuiltPlot from "../components/QuiltPlot.vue";
  import GnomadTable from "../components/GnomadTable.vue";
  import MolStar from "../components/MolStar.vue";
  // const MolStar = defineAsyncComponent(() => import("./MolStar.vue"));
  // import iCn3D from "./iCn3D.vue";
  // import icn3d from "../../scripts/icn3d/dist/icn3d_3.27.0.min.js";

  const show = ref(false);

  const router = useRouter();
  const route = useRoute();

  // Hard reload instead of breaking
  router.onError((error, to) => {
    if (error.message.includes('Failed to fetch dynamically imported module') || error.message.includes("Importing a module script failed")) {
      window.location = to.fullPath
    }
  })

  // console.log(router);
  // console.log(route.params.uniprot);

  function processQuiltClick(dataPoints) {
    console.log(dataPoints);
    currentProteinPosition = Number(dataPoints[0].x);
    currentMutation = dataPoints[0].y;
    onMutation({
      aa_ref: null,
      aa_pos: currentProteinPosition,
      aa_alt: currentMutation
    });
  }

  function processRowSelected(row) {
    console.log(row);
    onMutation({
      aa_ref: row.aa_ref,
      aa_pos: row.aa_pos,
      aa_alt: row.aa_alt
    });

  }

  const selectedMutation = ref({});

  function onMutation( {aa_ref, aa_pos, aa_alt} ) {
    console.log(aa_ref, aa_pos, aa_alt);

    // highlight row in gnomad table

    // highlight column in quilt plot
    console.log(selectedMutation.value);
    selectedMutation.value = {aa_ref, aa_pos, aa_alt};
    console.log(selectedMutation.value);
    console.log(selectedMutation.value.aa_ref);

    updateSource();
  }

  // var proteinDescription = ref("Loading...");
  const proteinDescriptionSource = ref(`https://www.uniprot.org/uniprotkb/${route.params.uniprot}/entry`);
  const SQLselect = ref("aa_ref,aa_pos,aa_alt,ddg");
  const gnomadSelect = ref("chr,ref,pos,alt,AC,AN,AF,nhomalt,chain,aa_ref,aa_pos,aa_alt,ddg,SIFT,PolyPhen");
  // const proteinDescription = await axios
  //   .create({
  //     baseURL: "https://rest.uniprot.org/uniprotkb",
  //     headers: {
  //       "Content-type": "application/xml"
  //     }
  //   })
  //   .get(`${route.params.uniprot}.xml`)
  //   .then(response => {
  //     const parser = new DOMParser();
  //     const uniprotXML = parser.parseFromString(response.data, "application/xml");
  //     return uniprotXML.querySelector('[type="function"]').textContent.trim();
  //   })
  //   .catch(e => {
  //     console.log(e);
  //   });

  function updateSource() {
    wtProteinCommand = encodeURIComponent(`afid=${route.params.uniprot}&command=scap interaction ${route.params.uniprot}_A_${currentProteinPosition}_${currentMutation}; select ${route.params.uniprot}2; hide selection; select interface_1 or zone cutoff 10 | sets snp_A_${currentProteinPosition}_${currentMutation} ${route.params.uniprot}; show selection; select snp_A_${currentProteinPosition}_${currentMutation}&${commandOptions}`);
    wtProteinViewSource.value = "https://www.ncbi.nlm.nih.gov/Structure/icn3d/full.html?" + wtProteinCommand;

    mutProteinCommand = encodeURIComponent(`afid=${route.params.uniprot}&command=scap interaction ${route.params.uniprot}_A_${currentProteinPosition}_${currentMutation}; select ${route.params.uniprot}; hide selection; select interface_1 or zone cutoff 10 | sets snp_A_${currentProteinPosition}_${currentMutation} ${route.params.uniprot}2; show selection; select snp_A_${currentProteinPosition}_${currentMutation}&${commandOptions}`);
    mutProteinViewSource.value = "https://www.ncbi.nlm.nih.gov/Structure/icn3d/full.html?" + mutProteinCommand;
  }

  var currentProteinPosition = 50;
  var currentMutation = "A";
  const commandOptions = "closepopup=1&showcommand=0&mobilemenu=1&showtitle=0";
  const differentialProteinPosition = 25;
  var wtProteinCommand = "";
  var mutProteinCommand = "";
  const wtProteinViewSource = ref("");
  const mutProteinViewSource = ref("");
  updateSource()

  // var quiltProgress = 0;
  // VariantDataService.get(route.params.uniprot, "aa_ref,aa_pos,aa_alt,ddg")
  //   .then(response => {
  //     // const data = response.data;
  //     // console.log(response.data);
  //     // console.log(new Set(response.data.map(x => {return x.aa_pos})));
  //     const proteinLength = response.data[response.data.length - 1].aa_pos;
  //     const proteinPosition = Array.from({length: proteinLength}, (value, index) => index + 1);
  //     // console.log(proteinPosition);

  //     // const variantByPosition = response.data.reduce((p, c) => {
  //     //   p[c.aa_pos] = p[c.aa_pos] || [];
  //     //   p[c.aa_pos].push({aa_alt: c.aa_alt, ddg: c.ddg});
  //     //   return p;
  //     // }, {});
  //     // console.log(variantByPosition);
  //     // const aminoAcids = "ARDNCEQGHILKMFPSTWYV".split("");

  //     // const proteinDDG = response.data.reduce((accumulator, currentItem) => {
  //     //   accumulator[currentItem.aa_alt] = accumulator[currentItem.aa_alt] || [];
  //     //   accumulator[currentItem.aa_alt].push(currentItem.ddg) || accumulator[currentItem.aa_alt].push(null);
  //     //   return accumulator;
  //     // }, {});
  //     // console.log(proteinDDG);

  //     const aminoAcids = "ARDNCEQGHILKMFPSTWYV".split("");
  //     var proteinDDG = Array.from({length: aminoAcids.length}, (value, index) => []);
  //     // console.log(proteinDDG);

  //     aminoAcids.forEach((aa, i) => {
  //       proteinPosition.forEach(pos => {
  //         proteinDDG[i].push(
  //           response.data
  //             .filter(x => {return x.aa_pos == pos})
  //             // .map(x => {
  //             //   return x.aa_alt == aa ? x.ddg : null})
  //             .find(x => x.aa_alt == aa)
  //             // .map(x => {return x.aa_alt})
  //             )
  //       })
  //     });
  //     // console.log(proteinDDG);

  //     proteinDDG = proteinDDG.map(aa => {
  //       return aa.map(x => {
  //         if (x) {
  //           return x.ddg
  //         } else {
  //           return null
  //         }
  //       })
  //     });
  //     // console.log(proteinDDG);

  //     // proteinDDG = proteinDDG.map(aa => {return aa.filter(x => {return x !== null})});
  //     // console.log(proteinDDG);

  //     // const zz = proteinDDG[0].filter(x => {return x != null})
  //     // console.log(zz);

  //     data = [
  //       {
  //         z: proteinDDG,
  //         x: proteinPosition,
  //         y: aminoAcids,
  //         type: "heatmap"
  //       }
  //     ]

  //     // console.log(data);
  //     // console.log(quiltDiv.value);

  //     Plotly.react(quiltDiv.value, data, { 
  //       // autosize: false,
  //       yaxis: {title: "Amino Acid"}, 
  //       xaxis: {title: "Position", 
  //               scaleanchor: "y",
  //               type: "category",
  //               range: [0, 35]
  //             }});
  //   })
  //   .catch(e => {
  //     console.log(e);
  //   });

  // // console.log(Math.max(data.map(x => {return x.aa_pos})));
  // // console.log(data[data.length - 1].aa_pos);

  // const quiltDiv = ref(null);
  // var data = [
  //   {
  //     z: [[2]],
  //     x: [0],
  //     y: ["A"],
  //     type: "heatmapgl"
  //   }
  // ]

  // onMounted(() => {
  //   // console.log(data);
  //   Plotly.newPlot(quiltDiv.value, data);
  // })

  // function pushWithQuery(query) {
  //   router.push({
  //     name: 'search',
  //     query: {
  //       ...route.params,
  //       ...query,
  //     },
  //   })
  // }

</script>

<style scoped>
  .row {
    width: 100%;
  }

  .row {
    padding-bottom: 20px;
  }

  .column.vert {
    /* transform: rotate(-90deg); */
    writing-mode: sideways-lr;
    align-items: center;
    justify-content: center;
  }
</style>