<template>
  <q-page
    padding
    id="variants-display"
    class="row justify-center"
    >
    <div v-if="variantStore.hashReady" class="modules col-12 col-sm column">
      <div class="row">
        <div class="col">
          <Suspense>
            <VariantsGnomadTable :select="variantsGnomadSelect"></VariantsGnomadTable>

            <template #fallback>
              <q-markup-table>
                <thead>
                  <tr>
                    <th class="text-left" style="width: 150px">
                      <q-skeleton animation="blink" type="text" />
                    </th>
                    <th class="text-right">
                      <q-skeleton animation="blink" type="text" />
                    </th>
                    <th class="text-right">
                      <q-skeleton animation="blink" type="text" />
                    </th>
                    <th class="text-right">
                      <q-skeleton animation="blink" type="text" />
                    </th>
                    <th class="text-right">
                      <q-skeleton animation="blink" type="text" />
                    </th>
                    <th class="text-right">
                      <q-skeleton animation="blink" type="text" />
                    </th>
                  </tr>
                </thead>

                <tbody>
                  <tr v-for="n in 5" :key="n">
                    <td class="text-left">
                      <q-skeleton animation="blink" type="text" width="85px" />
                    </td>
                    <td class="text-right">
                      <q-skeleton animation="blink" type="text" width="50px" />
                    </td>
                    <td class="text-right">
                      <q-skeleton animation="blink" type="text" width="35px" />
                    </td>
                    <td class="text-right">
                      <q-skeleton animation="blink" type="text" width="65px" />
                    </td>
                    <td class="text-right">
                      <q-skeleton animation="blink" type="text" width="25px" />
                    </td>
                    <td class="text-right">
                      <q-skeleton animation="blink" type="text" width="85px" />
                    </td>
                  </tr>
                </tbody>
              </q-markup-table>
            </template>
          </Suspense>
        </div>

      </div>
    <div class="row">
      <div class="col">
        <Suspense>
          <VariantsHistogram />
        </Suspense>
      </div>
    </div>

    <!-- <v-data-table-server
      v-model:items-per-page="itemsPerPage"
      :search="search"
      :headers="headers"
      :items="proteins"
      :items-length="totalItems"
      class="elevation-1"
      :loading="loading"
      loading
      loading-text="Loading... Please wait"
      @update:options="loadItems"
      v-model="selected"
      select-strategy="single"
      show-select
      return-object
      v-model:expanded="expanded"
      show-expand
    >
    <template v-slot:tfoot>
      <tr>
        <td>
          <v-text-field
            v-model.lazy="uniprotString"
            hide-details
            placeholder="Search name..."
            class="ma-2"
            density="compact"
          ></v-text-field>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <v-text-field
            v-model.lazy="ddgMin"
            hide-details
            placeholder="Minimum DDG"
            type="number"
            class="ma-2"
            density="compact"
          ></v-text-field>
        </td>
      </tr>
    </template>
    <template v-slot:expanded-row="{ columns, item }">
      <tr>
        <td :colspan="columns.length">
          More info about {{ item.raw.uniprot }}
        </td>
      </tr>
    </template>
  </v-data-table-server>
  <v-card class="mt-2 pa-2">
    <pre>{{ selected }}</pre>
    <pre>{{ expanded }}</pre>
  </v-card> -->

    <!-- <button class="m-3 btn btn-sm btn-danger" @click="removeAllProteins">
      Remove All
    </button> -->
    </div>
    <div v-else>
      <Suspense>
        <WaitUntilHashReady />
      </Suspense>
    </div>
  </q-page>
</template>

<script setup>
  import { onBeforeUnmount, onMounted, onBeforeMount, ref, computed, watch, provide } from "vue";
  import { useRouter, useRoute } from "vue-router";
  import VariantDataService from "../../services/VariantDataService";
  import UploadVCF from "../components/UploadVCF.vue";
  import WaitUntilHashReady from "../components/WaitUntilHashReady.vue";
  import VariantsGnomadTable from "../components/VariantsGnomadTable.vue";
  import VariantsHistogram from "../components/VariantsHistogram.vue";

  // import { variantStore } from "pages/VariantsListDisplayStore.js";
  import { useVariantStore } from "stores/variant.js";

  const variantStore = useVariantStore();

  const router = useRouter();
  const route = useRoute();

  variantStore.hash = route.params.hash;
  console.log(variantStore.hash);
  // console.log(variantStore.hashReady);

  const variantsGnomadSelect = ref("chr,ref,pos,alt,AC,AN,AF,nhomalt,chain,aa_ref,aa_pos,aa_alt,ddg,SIFT,PolyPhen");

  // if gnomad table isn't loading, then display (currently processing the uploaded file. please bookmark this page and come back later. if it has been more than 24 hours, please email emailaddress with this page's URL.)
</script>

<!-- <script>
import VariantDataService from "../../services/VariantDataService";

export default {
  name: "variants-list",
  data () {
    return {
      expanded: [],
      selected: [],
      itemsPerPage: 5,
      loading: true,
      totalItems: 0,
      proteins: [],
      title: "",
      currentProtein: null,
      currentIndex: -1,
      search: "",
      uniprotString: "",
      ddgMin: "",
      headers: [{
        title: "Uniprot",
        align: "end",
        sortable: true,
        key: "uniprot",
      },
      {
        title: "Fold",
        align: "end",
        sortable: true,
        key: "fold",
      },
      {
        title: "Amino Acid Length",
        align: "end",
        sortable: true,
        key: "aa_len",
      },
      {
        title: "pH",
        align: "end",
        sortable: true,
        key: "ph",
      },
      {
        title: "Chain",
        align: "end",
        sortable: true,
        key: "chain",
      },
      {
        title: "Amino Acid Reference",
        align: "end",
        sortable: true,
        key: "aa_ref",
      },
      {
        title: "Amino Acid Position",
        align: "end",
        sortable: true,
        key: "aa_pos",
      },
      {
        title: "Amino Acid Alternative",
        align: "end",
        sortable: true,
        key: "aa_alt",
      },
      {
        title: "Score",
        align: "end",
        sortable: true,
        key: "score",
      },
      {
        title: "Delta Score",
        align: "end",
        sortable: true,
        key: "delta_score",
      },
      {
        title: "DDG",
        align: "end",
        sortable: true,
        key: "ddg",
      },
      {
        title: "DDG Conf",
        align: "end",
        sortable: true,
        key: "ddg_conf",
      },
      {
        title: "Chain Break",
        align: "end",
        sortable: true,
        key: "chain_break",
      }],
      fileVCF: null,
      fileVCFProgress: 0,
      rules: [
        value => {
          return !value || !value.length || value[0].size >= 25 || "VCF must be larger than 25B."
        },
      ]
    };
  },
  watch: {
    uniprotString () {
      // this.search = await new Promise(r => setTimeout(r, 1000)).then(() => {return String(Date.now())})
      this.search = String(Date.now())
    },
    ddgMin () {
      this.search = String(Date.now())
    },
  },
  methods: {
    refreshList() {
      this.retrieveProteins();
      this.currentProtein = null;
      this.currentIndex = -1;
    },

    // setActiveTutorial(tutorial, index) {
    //   this.currentTutorial = tutorial;
    //   this.currentIndex = index;
    // },

    loadItems ({ page, itemsPerPage, sortBy }) {
      this.loading = true
      // console.log(search);
      console.log(this.ddgMin);
      console.log(this.uniprotString);
      VariantDataService.getAll()
        .then( response => {
          this.proteins = response.data;
          console.log(response.data);

          const start = (page - 1) * itemsPerPage
          const end = start + itemsPerPage
          const items = this.proteins.slice().filter(item => {
            if (this.uniprotString.toLowerCase() && !item.uniprot.toLowerCase().includes(this.uniprotString.toLowerCase())) {
              return false
            }

            if (this.ddgMin && !(item.ddg >= Number(this.ddgMin))) {
              return false
            }

            return true
          })

          if (sortBy.length) {
            const sortKey = sortBy[0].key
            const sortOrder = sortBy[0].order
            items.sort((a, b) => {
              const aValue = a[sortKey]
              const bValue = b[sortKey]
              return sortOrder === 'desc' ? bValue - aValue : aValue - bValue
              })
          }

          this.proteins = items.slice(start, end)
          this.totalItems = items.length
          this.loading = false
        })
        .catch(e => {
          console.log(e);
        });
    },

    mounted() {
      this.retrieveProteins();
    },

    uploadVCF() {
      this.fileVCFProgress = 0;
      console.log(this.fileVCF);
      console.log(this.fileVCF[0]);

      VariantDataService.uploadFile(this.fileVCF[0], event => {
        this.fileVCFProgress = Math.round((100 * event.loaded) / event.total)
      })
        .then(response => {
          console.log(response);
        })
        // .then(files => )
        .catch(e => {
          this.fileVCFProgress = 0;
          this.fileVCF = null;
          console.log(e);
        });
    },
  }
}
</script>

<style>
.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}
</style>

<script setup>
  import { VDataTableServer } from 'vuetify/labs/VDataTable'
</script> -->

<style scoped>
  .modules > .row {
    width: 100%;
    padding-bottom: 20px;
  }
</style>
